---
layout: default
title: "Dartium"
description: "Download and use Dartium, a build of Chromium with an embedded Dart VM."
has-permalinks: false
js:
- url: /js/os-switcher.js
  defer: true
---

<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1> {{page.title}} </h1>
      <p>
        Chromium with the Dart VM
      </p>
    </div>
    <div class="col-md-6">
      <img src="images/dartium.png"
           alt="Dartium running a sample" />
    </div>
  </div>
</div>


<p>
Dartium is a special build of Chromium that includes the Dart VM.
Using Dartium means you don't have to compile your code to JavaScript
until you're ready to test on other browsers.
To learn about other tools you can use for Dart development,
see <a href="/tools/">Tools for Dart</a>.
</p>

<aside class="alert alert-warning">
  <strong>Warning:</strong>
  This browser is a technical preview,
  and it might have security and stability issues.

  <b>Do not use Dartium as your primary browser!</b>
</aside>

<p>
  <a href="/docs/dart-up-and-running/contents/ch04-tools-dartium.html" class="btn">
    <i class="icon-book"></i>
    Learn how to use Dartium
  </a>
</p>


<section>
<h2 id="download"> Getting Dartium </h2>

<p>
  If you have an up-to-date version of
  <a href="/tools/editor/">Dart Editor</a>,
  you already have Dartium.
</p>

<p class="os-choices">
  Or you can download the latest release of Dartium for
  {% include os-choices.html %}
</p>

<p>
{% include downloads/_dartium.html %}
</p>

<aside class="alert alert-info">
  <strong>Note:</strong>
  The Dartium binary <b>expires</b> within a month.
  When that happens,
  you'll need to download a new copy
  if you want to continue using Dartium.
</aside>
</section>

<h2 id="install"> Installing Dartium </h2>

<p>
  You don’t usually need to do anything special to install Dartium:
  just unarchive the ZIP file.
  If you want Dart Editor to launch a particular copy of Dartium,
  then put that copy inside the <code>dart-sdk</code> directory
  of your Dart Editor installation directory,
  replacing its original copy of Chromium.
</p>


<h2 id="bugs"> Filing bugs and feature requests </h2>

<p>
  To file a bug, use the
  <a href="https://code.google.com/p/dart/issues/entry?template=Defect%20report%20for%20Dartium">Dartium issue template</a>.
  To see existing issues,
  go to the
  <a href="https://code.google.com/p/dart/issues/list?can=2&amp;q=label%3AArea-Dartium">Dartium issue list</a>.
</p>

