<div>

<p class="os-choices">
  Below are the
  instructions for
  {% include os-choices.html %}
</p>

<!--------------------- MAC -------------------------------------->

<div class="macos" markdown="1">

### Download and install Docker and related tools
{: .no_toc}

  Run the boot2docker installer from
  <a href="https://github.com/boot2docker/osx-installer/releases" target="_blank">Github</a>.
  This downloads and installs the following tools on your development machine:

* VirtualBox (installed in `Applications` folder)
* `boot2docker` command (installed in `/usr/local/bin`)
* `docker` command (installed in `/usr/local/bin`)

<aside class="alert alert-warning" markdown="1">
**Note:**
These instructions assume that v1.3.1 of Docker and boot2docker 
are installed on your machine.
However, Docker 1.3.0 is required inside the boot2docker VM.
The configuration of boot2docker below handles this.
</aside>

### Configure Docker
{: .no_toc}

  <ol markdown="1">
  <li markdown="1">Run the following commands to configure `boot2docker`.
<pre>
$ mkdir ~/.boot2docker
$ echo 'ISOURL = "https://github.com/boot2docker/boot2docker/releases/download/v1.3.0/boot2docker.iso"' > ~/.boot2docker/profile
$ boot2docker init
</pre>
  </li>
  <li>Run the following command to launch boot2docker.
<pre>
$ boot2docker up
</pre>

When successful, the command prints some setup information.
You don't need to type these commands if you use the command in the
following section.
  </li>

  <aside class="alert alert-info" markdown="1">
  **Tip:** After running this command, launch VirtualBox.
  You should be able to see boot2docker running.
  </aside>
  </ol>

### Get the Docker images
{: .no_toc}

<ol markdown="1">
  <li markdown="1">Call the following script to set the required environment
      variables: `DOCKER_TLS_VERIFY`, `DOCKER_HOST`, and `DOCKER_CERT_PATH`.

<pre>
$ $(boot2docker shellinit)
</pre>
  </li>
  <li markdown="1">Run the following command to pull a number of Docker
      images required for App Engine Managed VMs.
      The `docker pull` command can take awhile.
<pre>
$ docker pull google/docker-registry
</pre>
  </li>

  <li>Check to make sure that you have some images:
<pre>
$ docker images
</pre>
  This command lists a number of images.
  </li>

  <li>Run the following command which prints version information about the
      Dart VM. 

<pre>
$ docker run google/dart /usr/bin/dart --version
</pre>
  </li>
</ol>

</div>
<!--------------------- END OF MAC --------------------------------->

<!--------------------- WINDOWS ------------------------------------>

<div class="windows" markdown="1">

### Download and install Docker and related tools
{: .no_toc}

* Go to the Docker website and follow the
  <a href="http://docs.docker.com/installation/windows/">
  installation instructions</a>.
  This installs VirtualBox, docker,
  the boot2docker management tool, and a few other
  programs you need.

<aside class="alert alert-warning" markdown="1">
**Note:**
These instructions assume that v1.3.1 of Docker and boot2docker 
are installed on your machine.
However, Docker 1.3.0 is required inside the boot2docker VM.
The configuration of boot2docker below handles this.
</aside>

* Put the VirtualBox tool, VBoxManage, in your path.
  The default installation directory is
  `C:\Program Files\Oracle\VirtualBox\`. 

### Configure Docker
{: .no_toc}

<strong>Note</strong>: On Windows,
the docker commands below should be 
run inside the VM as the installation process does not install
a Windows docker command line tool.

  <ol markdown="1">
  <li markdown="1">Run the following commands to configure `boot2docker`.
<pre>
> mkdir "%USERPROFILE%\.boot2docker"
> echo ISOURL = "https://github.com/boot2docker/boot2docker/releases/download/v1.3.0/boot2docker.iso" > "%USERPROFILE%\.boot2docker\profile"
> "%ProgramFiles%\Boot2Docker for Windows\boot2docker" init
</pre>
  </li>
  <li markdown="1">Run the following command to launch boot2docker.
<pre>
> "%ProgramFiles%\Boot2Docker for Windows\boot2docker" up
</pre>

When successful, the output should include lines similar to the following:

<pre>
Docker client does not run on Windows for now. Please use
  "C:\Program Files\Boot2Docker for Windows\boot2docker.exe" ssh
to SSH into the VM instead.
</pre>
  </li>

  <aside class="alert alert-info" markdown="1">
  **Tip:** After running this command, launch VirtualBox.
  You should be able to see boot2docker running.
  </aside>
  </ol>

### Get the Docker images
{: .no_toc}

<ol markdown="1">
<li markdown="1"> `DOCKER_TLS_VERIFY`, `DOCKER_HOST`, and `DOCKER_CERT_PATH`.
   Unfortunately, boot2docker does not support Windows that well here.

First, run the following command:

<pre>
> "%ProgramFiles%\Boot2Docker for Windows\boot2docker.exe" shellinit
</pre>

This prints three lines like this:

<pre>
    export DOCKER_HOST=...
    export DOCKER_CERT_PATH=...
    export DOCKER_TLS_VERIFY=...
</pre>

If you are using the normal Windows shell, take each of these commands
and replace `export` with `set`. For example, for `DOCKER_TLS_VERIFY`:

<pre>
set DOCKER_TLS_VERIFY=1
</pre>

If you are using a cygwin shell, you can use the following script:

<pre>
$ $(boot2docker shellinit)
</pre>

</li>

<li markdown="1">Run the following command to pull a number of Docker
    images required for App Engine Managed VMs.
    The `docker pull` command can take awhile.

<pre>
> "%ProgramFiles%\Boot2Docker for Windows\boot2docker.exe" ssh
$ docker pull google/docker-registry
</pre>
</li>

<li markdown="1"> Check to make sure that you have some images:

<pre>
$ docker images
</pre>

This command lists a number of images.
</li>

<li markdown="1"> Run the following command to print the version of the
    Dart VM. 

<pre>
$ docker run google/dart /usr/bin/dart --version
</pre>

The output will look something like the following:

<pre>
Dart VM version: 1.7.2 (Tue Oct 14 12:12:42 2014) on "linux_x64"
</pre>
</li>

<li markdown="1"> Leave the boot2docker VM:

<pre>
$ exit
</pre>
</li>
</ol>

</div>

<!--------------------- END OF WINDOWS ----------------------------->

<!--------------------- LINUX -------------------------------------->

<div class="linux" markdown="1">

<strong>Note:</strong>
You need a 64-bit Linux system to run Dart on App Engine
Managed VMs.

### Download and install VirtualBox
{: .no_toc}

See
<a href="https://www.virtualbox.org/wiki/Linux_Downloads">Download VirtualBox
  for Linux hosts</a>.

### Get boot2docker and Docker 
{: .no_toc}

<aside class="alert alert-info" markdown="1">
**Do I need boot2docker on Linux?**
There are advantages to using boot2docker on Linux even though
it uses a Virtual Machine (VirtualBox) running Linux.

For example, using boot2docker means that the same setup will be used
on all supported platforms,
and the documentations and answers to questions apply equally no
matter what platform you use. boot2docker also provides more
flexibility and the ability to have several installations with
different versions and a different set of Docker images.
Docker and boot2docker encapsulate everything that you need,
including configuration of the underlying OS,
and allow you to run multiple docker daemons simultaneously.

However, if you want to use a native Docker daemon, that
may be possible. For more information, see
[this question on stackoverflow](http://stackoverflow.com/questions/26842682/dockerdaemonconnectionerror-when-setting-google-cloud-managed-vm-in-ubuntu).
</aside>

Here are the instructions for installing Docker on Linux:

<aside class="alert alert-warning" markdown="1">
**Note:**
These instructions assume that v1.3.1 of Docker and boot2docker 
are installed on your machine.
However, Docker 1.3.0 is required inside the boot2docker VM.
The configuration of boot2docker below handles this.
</aside>

<pre>
$ sudo wget https://github.com/boot2docker/boot2docker-cli/releases/download/v1.3.1/boot2docker-v1.3.1-linux-amd64 -O /usr/local/bin/boot2docker
$ sudo chmod 755 /usr/local/bin/boot2docker
$ sudo wget https://get.docker.io/builds/Linux/x86_64/docker-latest -O /usr/local/bin/docker
$ sudo chmod 755 /usr/local/bin/docker
</pre>

### Configure boot2docker
{: .no_toc}

Run the following commands to configure boot2docker:

<pre>
$ mkdir ~/.boot2docker
$ echo 'ISOURL = "https://github.com/boot2docker/boot2docker/releases/download/v1.3.0/boot2docker.iso"' > ~/.boot2docker/profile
$ boot2docker init
$ boot2docker up
</pre>

### Get the Docker images
{: .no_toc}

<ol markdown="1">
  <li markdown="1">Run the following command to set the required environment
      variables: `DOCKER_TLS_VERIFY`, `DOCKER_HOST`, and `DOCKER_CERT_PATH`.

<pre>
$ $(boot2docker shellinit)
</pre>
  </li>
  <li markdown="1">Run the following command to pull a number of Docker
      images required for App Engine Managed VMs.
      The `docker pull` command can take awhile.

<pre>
$ docker pull google/docker-registry
</pre>
  </li>

  <li>Check to make sure that you have some images:
<pre>
$ docker images
</pre>
  This command lists a number of images.
  </li>

  <li>Run the following command to print the version of the
      Dart VM. 

<pre>
$ docker run google/dart /usr/bin/dart --version
</pre>
      The output will look something like the following:
<pre>
Dart VM version: 1.7.2 (Tue Oct 14 12:12:42 2014) on "linux_x64"
</pre>
  </li>
</ol>
</div>

<!--------------------- END OF LINUX ------------------------------->

</div>
