	</div> <!-- /.container -->

	<footer>
    <div class="container">
  		<div class="row no-print">
  			<div class="span3">
  				<h4>Dart Docs</h4>
  				<ul>
            <li><a href="/docs/technical-overview/?utm_source=site&amp;utm_medium=footer&amp;utm_campaign=homepage">Technical Overview</a></li>
            <li><a href="/docs/dart-up-and-running/?utm_source=site&amp;utm_medium=footer&amp;utm_campaign=homepage">Dart Book</a></li>
            <li><a href="/docs/dart-up-and-running/contents/ch02.html?utm_source=site&amp;utm_medium=footer&amp;utm_campaign=homepage">Language Tour</a></li>
            <li><a href="/docs/spec/?utm_source=site&amp;utm_medium=footer&amp;utm_campaign=homepage">Language Spec</a></li>
            <li><a href="/docs/dart-up-and-running/contents/ch03.html?utm_source=site&amp;utm_medium=footer&amp;utm_campaign=homepage">Library Tour</a></li>
            <li><a href="http://api.dartlang.org?utm_source=site&amp;utm_medium=footer&amp;utm_campaign=homepage" title="Dart API docs">API Reference</a></li>
            <li><a href="/articles/?utm_source=site&amp;utm_medium=footer&amp;utm_campaign=homepage">Articles and Tutorials</a></li>
            <li><a href="/support/faq.html?utm_source=site&amp;utm_medium=footer&amp;utm_campaign=homepage">FAQ</a></li>
  				</ul>
  			</div>
  			<div class="span3">
  				<h4>Dart Tools</h4>
  				<ul>
            <li><a href="/docs/editor/">Editor</a></li>
            <li><a href="/dartium/">Chromium + Dart VM</a></li>
            <li><a href="/docs/sdk/">SDK</a></li>
            <li><a href="http://pub.dartlang.org">Pub Package Manager</a></li>
            <li><a href="/docs/dart2js/">Dart2js</a></li>
            <li><a href="/docs/standalone-dart-vm/">Dart VM</a></li>
  				</ul>
  			</div>
  			<div class="span3">
  				<h4>Dart Resources</h4>
  				<ul>
            <li><a href="http://api.dartlang.org" title="Dart API docs">API Reference</a></li>
            <li><a href="/samples/">Code Samples</a></li>
            <li><a href="http://synonym.dartlang.org/">Translations from JavaScript</a></li>
            <li><a href="/slides/">Presentations</a></li>
            <li><a href="/books/">Books</a></li>
            <li><a href="/dartisans/">Dartisans Videos and Podcast</a></li>
            <li><a href="/community/">Community</a></li>
            <li><a href="/performance/">Performance</a></li>
  				</ul>
  			</div>
  			<div class="span3">
  				<h4>Dart Development</h4>
  				<ul>
            <li><a href="http://code.google.com/p/dart/issues/list">Bugs and Feature Requests</a></li>
            <li><a href="http://www.dartlang.org/mailing-list">Mailing List</a></li>
            <li><a href="https://code.google.com/p/dart/wiki/GettingTheSource?tm=4">Source Code</a></li>
            <li><a href="http://code.google.com/p/dart/wiki/Contributing">Submitting Patches</a></li>
  				</ul>
  			</div>
  		</div>
  		<div class="row copyright">
  			<div class="span8 offset2">
  				<p>
            {% if license %}
            {{ license }}
            {% else %}
            Except as otherwise <a href="http://code.google.com/policies.html#restrictions">noted</a>, the content of this page is licensed under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>, and code samples are licensed under the <a href="http://code.google.com/google_bsd_license.html">BSD License</a>.
            {% endif %}
  				</p>
  				<p>
  					<a href="/tos.html">Terms of Service</a> &mdash;
  					<a href="http://www.google.com/intl/en/policies/privacy/">Privacy Policy</a>
  				</p>
  			</div>
  		</div>
    </div>
	</footer>

{% bundle %}
- /js/jquery-1.7.2.min.js
- /js/bootstrap.min.js
- /js/social-event-analytics.js
- /js/scripts.js
- /js/dartisans-ribbon.js
{% endbundle %}

{% for js in page.js %}
<script {% if js.defer %}defer{% endif %} src="{{ js.url }}"></script>
{% endfor %}

</body>
</html>
