<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Product">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% capture page_title %}{% if page.title %}{{ page.title }} | {%endif%}Dart: Structured web apps{% endcapture %}
  <title>{{ page_title }}</title>
  <meta itemprop="name" content="{{ page_title }}">
  {% if page.snippet_img %}
  <meta itemprop="image" content="{{ page.snippet_img }}">
  {% else %}
  <meta itemprop="image" content="/imgs/dart-logo-900w.png">
  {% endif %}
  <meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}Dart is a new platform for building structured web apps for modern browsers. It includes a language, a VM, libraries, tools, and a compiler to JavaScript. Try Dart today!{% endif %}">

	<link rel="stylesheet" href="/css/style.css">
	{% if page.header and page.header.css %}{% for css in page.header.css %}<link href="{{ css }}" rel="stylesheet" type="text/css">{% endfor %}{% endif %}
	{% for author in page.rel.author %}<link rel="author" href="/authors/{{ author }}.html">{% endfor %}
	{% if page.rel.me %}<link rel="me" href="{{ page.rel.me }}">{% endif %}
	<link rel="alternate" type="application/atom+xml" href="http://news.dartlang.org/feeds/posts/default" title="Atom feed">
  <link href="https://plus.google.com/109866369054280216564" rel="publisher">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% include analytics.html %}

  <script>
	window.___gcfg = {lang: 'en'};
	(function()
	{var po = document.createElement("script");
	po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(po, s);
	})();
  </script>

  <script>
    window.twttr = (function (d,s,id) {
      var t, js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
      js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
      return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
    }(document, "script", "twitter-wjs"));
  </script>
</head>
<body>

  <nav>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/" title="Dart Homepage">
            <img src="/imgs/Dart_Logo_21.png" width="21" height="21" alt="Dart">
          </a>
          <ul class="nav">
            <li>
              <form class="navbar-search pull-right" action="/search.html" id="cse-search-box">
                <input type="hidden" name="cx" value="011220921317074318178:i4mscbaxtru" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="hidden" name="hl" value="en" />
                <input type="search" name="q" class="search-query" id="q" autocomplete="off" placeholder="Search"/>
              </form>
            </li>
            <li class="dropdown">
              <a href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown">
                    Docs
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-header">Language</li>
                <li><a href="/docs/dart-up-and-running/ch02.html">Language Tour</a></li>
                <li><a href="/docs/spec/">Language Spec</a></li>
                <li class="nav-header">Libraries</li>
                <li><a href="/docs/dart-up-and-running/ch03.html">Library Tour</a></li>
                <li><a href="http://api.dartlang.org" title="Dart API docs">API Reference</a></li>
                <li class="nav-header">Usage</li>
                <li><a href="/articles/">Articles</a></li>
                <li><a href="/docs/tutorials/">Tutorials</a></li>
                <li><a href="/support/faq.html">FAQ</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown">
                    Tools
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/docs/editor/">Editor</a></li>
                <li><a href="/dartium/">Chromium + Dart VM</a></li>
                <li><a href="/docs/sdk/">SDK</a></li>
                <li><a href="http://pub.dartlang.org">Pub Package Manager</a></li>
                <li><a href="/docs/dart2js/">Dart2js</a></li>
                <li><a href="/docs/standalone-dart-vm/">Dart VM</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown">
                      Resources
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="http://api.dartlang.org" title="Dart API docs">API Reference</a></li>
                  <li><a href="/samples/">Code Samples</a></li>
                  <li><a href="http://synonym.dartlang.org/">Translations from JavaScript</a></li>
                  <li><a href="/slides/">Presentations</a></li>
                  <li><a href="/books/">Books</a></li>
                  <li><a href="/dartisans/">Dartisans Videos and Podcast</a></li>
                  <li><a href="/community/">Community</a></li>
                  <li><a href="/performance/">Performance</a></li>
                </ul>
            </li>
              <li class="dropdown">
                  <a href="#"
                        class="dropdown-toggle"
                        data-toggle="dropdown">
                        Development
                        <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="http://code.google.com/p/dart/issues/list">Bugs and Feature Requests</a></li>
                    <li><a href="http://www.dartlang.org/mailing-list">Mailing List</a></li>
                    <li><a href="https://code.google.com/p/dart/wiki/GettingTheSource?tm=4">Source Code</a></li>
                    <li><a href="http://code.google.com/p/dart/wiki/Contributing">Submitting Patches</a></li>
                  </ul>
              </li>
              <li><a href="http://news.dartlang.org/" title="The latest news about Dart">News</a></li>
              <li class="share-button gplus"><div class="g-plusone" data-size="medium" data-callback="gplus_pressed" data-annotation="none"></div></li>
              <li class="share-button twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="dartlang">Tweet</a></li>
            </ul>
        </div>
      </div>
    </div>
  </nav>

  <a href="#" target="_blank" id="dartisans-ribbon" style="display:none"
      alt="Watch Dartisans LIVE" title="Watch Dartisans LIVE">On Air
      <span class="record"></span>
  </a>

  <div class="container">
