<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/docs/getting-started/index.html">Getting Started</a></li>
    <li><a href="/docs/technical-overview/index.html">Technical Overview</a></li>
    <li>Language &amp; Library Docs
      <ul>
        <li><a href="/docs/spec/index.html">Language Spec</a></li>
        <li><a href="/docs/ref/index.html">Library Reference</a></li>
      </ul>
    </li>
    <li><a href="/docs/tutorials/index.html">Articles &amp; Tutorials</a></li>
    <li><a href="/support/index.html">Community &amp; Support</a></li>
    <li><a href="/download/index.html">Download</a></li>
  </ul>
</nav>
