<nav>
  <ul>
    {% nav_link / %}Home{% endnav_link %}
    <li>Getting Started</li>
      <ul>
        {% nav_link /docs/technical-overview/index.html %}Technical Overview{% endnav_link %}
        {% nav_link /docs/getting-started/index.html %}Code with Dartboard{% endnav_link %}
      </ul>
    {% nav_link /samples/index.html %}Samples &amp; Walkthroughs{% endnav_link %}
    <li>Language &amp; Library Docs
      <ul>
        {% nav_link /docs/spec/index.html %}Language Spec{% endnav_link %}
        {% nav_link /docs/api/index.html %}Library Reference{% endnav_link %}
      </ul>
    </li>
    {% nav_link /support/index.html %}Community &amp; Support{% endnav_link %}
      <ul>
        {% nav_link /articles/index.html %}Articles{% endnav_link %}
      </ul>
    </li>
  </ul>
</nav>

<script type="text/javascript"> 
   var ref = document.referrer;
   if (ref.match("//[^/]+/(index.html)?$")) {
    document.querySelector("nav").className = "animate-in";
   }
</script>
