<div class="row">

  <div class="span9 offset3">
    <h1>{{ page.title }}</h1>
  </div>

  <div class="span3">

    <div id="tutorial-toc">
      <h4>Contents</h4>
      <ul>
        <li>
           <a href="/docs/tutorials/">Home</a>
        </li>
        <li>
           <a href="/docs/tutorials/get-started/">1: Get Started</a>
        </li>
        <li>
           <a href="/docs/tutorials/put-text/">2: Put Text on a Page</a>
        </li>
      </ul>
    </div>

    <div id="whats_the_point">
      <h4>What's the point?</h4>

      {{ whats_the_point | markdownify }}
    </div>

  
  </div>

  <article class="span9 tutorial-content">

    {{ content | markdownify }}

  </article>

</div>
