<div class="row">

  <div class="span3">
    <div id="give-me-space">
    </div>

    <div id="tutorial-toc">
    <h4>Table of Contents</h4>
      <ul>
        <li>
           <a href="/docs/tutorials/">Dartboard Home</a>
        </li>
        <li>
           <a href="/docs/tutorials/get-started/">Target 1: Get Started</a>
        </li>
        <li>
           <a href="/docs/tutorials/mini-web-app/">Target 2: Build a mini Web app</a>
        </li>
      </ul>
    </div>

    <div id="whats_the_point">
    <h4>What's the point?</h4>

      {{ whats_the_point | markdownify }}
      
    </div>

  
  </div>

  <article class="span9 tutorial-content">

    {{ content | markdownify }}

  </article>

</div>
