body {
  font-family: 'Open Sans', sans-serif;
  background-color: WhiteSmoke;
  margin: 15px;
}

#to-do-input {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 0px 5px 5px;
  width: 100%;
  border: 1px solid Silver;
  background-color: White;
}

#to-do-list {
  padding:0px;
  margin:0px;
  list-style-position:inside;
}

#to-do-list li {
  padding:5px 0px 5px 5px;
  border-bottom: 1px dotted Silver;
}

