---
layout: default
title: "A Tour of the Dart Language"
description: "Learn how to use each major Dart feature. This language tour assumes that you already know how to program in another language."
header:
  css: ["/css/dartboard.css"]
---

<h1> {{ page.title }} </h1>

<section class="overview">
<p>
Welcome to the Dart language tour!
We'll show you how to use each major Dart feature,
from variables to operators to classes and libraries,
with the assumption that you already know how to program in another language.
</p>

<aside class="note">
<b>Tip:</b>
Create a server application project in
<a href="/docs/getting-started/editor/">Dart Editor</a>
so you can play with each feature.
Alternatively, open a 
<a href="http://try.dartlang.org" target="_blank">Dartboard window</a>;
note, however, that Dartboard is deprecated
and sometimes behaves incorrectly.
</aside>

<p>
Consult the
<a href="/docs/spec/index.html">Dart Language Specification</a>
whenever you want more details about a language feature.
</p>

<h4> Contents </h4>
<ol class="toc">
  <li> <a href="#main-print">A basic Dart program</a> </li>
  <li> <a href="#variables">Variables</a> </li>
  <li> <a href="#built-in-types">Built-in types</a> </li>
  <li> <a href="#functions">Functions</a> </li>
  <li> <a href="#operators">Operators</a> </li>
  <li> <a href="#control-flow">Control flow</a> </li>
  <li> <a href="#exceptions">Exceptions</a> </li>
  <li><a href="#classes">Classes</a></li>
  <li> <a href="#libraries">Libraries and visibility</a> </li>
  <li> And more to come... </li>
{% comment %}
  <li> Interfaces <em>(coming soon!)</em> </li>
  <li> Generics <em>(coming soon!)</em> </li>
  <li> Isolates <em>(coming soon!)</em> </li>
  <li> Typedefs <em>(coming soon!)</em> </li>
  <li> Reference <em>(coming soon!)</em> </li>
{% endcomment %}
</ol>

<aside class="note">
<b>Work in progress:</b>
We'll add to this tour over the next few weeks.
</aside>

</section>


{% comment %}
NOTE: The guts of this page are in /_includes/language-tour/*/*.
{% endcomment %}


<section>
<h2 id="main-print"> A basic Dart program </h2>
{% include language-tour/1-main-print/index.html %}
</section>

<section>
  <h2 id="variables"> Variables </h2>
  {% render language-tour/2-variables/index.markdown %}
</section>

<section>
<h2 id="built-in-types"> Built-in types </h2>
{% include language-tour/3-built-in-types/index.html %}
</section>

<section>
  <h2 id="functions"> Functions </h2>
  {% render language-tour/functions/index.markdown %}
</section>

<section>
  <h2 id="operators"> Operators </h2>
  {% render language-tour/operators/index.markdown %}
</section>

<section>
  <h2 id="control-flow"> Control flow </h2>
  {% render language-tour/control-flow/index.markdown %}
</section>

<section>
  <h2 id="exceptions">Exceptions</h2>
  {% render language-tour/exceptions/index.markdown %}
</section>

<section>
  <h2 id="classes">Classes</h2>
  {% render language-tour/classes/index.markdown %}
</section>

<section>
  <h2 id="libraries">Libraries and visibility</h2>
  {% render language-tour/libraries/index.markdown %}
</section>

<script async type="text/javascript"
  src="http://try.dartlang.org/dartboard.dart.app.js">
</script>

{% include syntax-highlighting.html %}
