/*! Dart Flight School
 * Ocupop 2013
 * design by Grace Blevins <g@ocupop.com>
 * code by Justin Falcone <justin@ocupop.com>
 */
/* line 17, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../../sass/_base.sass */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, ../../sass/_base.sass */
html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  background-color: black;
  padding-bottom: 100px; }

/* line 14, ../../sass/_base.sass */
.touch body,
.no-csstransforms3d body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00678e), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#00678e, #000000);
  background-image: -moz-linear-gradient(#00678e, #000000);
  background-image: -o-linear-gradient(#00678e, #000000);
  background-image: linear-gradient(#00678e, #000000); }

/* line 17, ../../sass/_base.sass */
a {
  color: inherit;
  text-decoration: none; }

/* line 21, ../../sass/_base.sass */
img {
  display: block;
  margin: 0 auto; }

/* line 25, ../../sass/_base.sass */
.container {
  padding: 0 24px;
  max-width: 848px;
  margin: 0 auto; }
  @media (min-width: 960px) {
    /* line 25, ../../sass/_base.sass */
    .container {
      padding: 0 12px; } }

/* line 32, ../../sass/_base.sass */
p {
  font-size: 15px;
  line-height: 28px;
  padding-bottom: 24px; }

/* line 37, ../../sass/_base.sass */
h2, h3 {
  text-transform: uppercase;
  padding-bottom: 24px; }

/* line 41, ../../sass/_base.sass */
h2 {
  font-size: 24px;
  line-height: 28.8px; }
  @media (min-width: 640px) {
    /* line 41, ../../sass/_base.sass */
    h2 {
      font-size: 31.2px;
      line-height: 36px; } }

/* line 48, ../../sass/_base.sass */
h3 {
  font-size: 24px; }

/* line 51, ../../sass/_base.sass */
.page-header {
  z-index: 10;
  padding: 96px 0 0;
  width: 100%; }
  @media (min-width: 960px) {
    /* line 51, ../../sass/_base.sass */
    .page-header {
      padding-bottom: 96px; } }
  /* line 58, ../../sass/_base.sass */
  .page-header img {
    max-width: 100%; }
  @media (min-width: 960px) {
    /* line 51, ../../sass/_base.sass */
    .page-header {
      position: absolute;
      top: 0;
      bottom: auto;
      left: 0;
      right: auto; } }

/* line 64, ../../sass/_base.sass */
section {
  z-index: 10;
  padding: 48px 0 24px; }

/* line 68, ../../sass/_base.sass */
input,
button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-family: inherit;
  border-radius: 0; }

/* line 76, ../../sass/_base.sass */
.resource-link, .page-nav a {
  display: block;
  padding-left: 25px; }
  /* line 79, ../../sass/_base.sass */
  .resource-link:before, .page-nav a:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    height: 13px;
    width: 13px;
    border: 4px solid #eeeeee;
    border-radius: 13px; }

/* line 89, ../../sass/_base.sass */
.resource-link {
  text-transform: uppercase; }
  /* line 92, ../../sass/_base.sass */
  .resource-link:before {
    background-color: #00a4e4; }

/* line 1, ../../sass/_background.sass */
.no-touch .sky-layer {
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  height: 100%;
  background-color: #00678e;
  opacity: 1; }

/* line 8, ../../sass/_background.sass */
.touch .sky-layer,
.no-csstransforms3d .sky-layer {
  display: none; }

/* line 12, ../../sass/_background.sass */
.stars-layer {
  position: absolute;
  top: -50%;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  height: 2000px; }
  /* line 16, ../../sass/_background.sass */
  .stars-layer:before, .stars-layer:after {
    content: "";
    background-image: url('../img/star.png?1387306559');
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0; }
  /* line 24, ../../sass/_background.sass */
  .stars-layer:before {
    left: 0; }
  /* line 26, ../../sass/_background.sass */
  .stars-layer:after {
    right: 0; }

/* line 29, ../../sass/_background.sass */
.touch .stars-layer {
  display: none; }

/* line 32, ../../sass/_background.sass */
.milky-way-layer {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  height: 1000px; }
  /* line 36, ../../sass/_background.sass */
  .milky-way-layer img {
    width: 1058px;
    max-width: 100%; }

/* line 40, ../../sass/_background.sass */
.touch .milky-way-layer {
  position: fixed; }

/* line 43, ../../sass/_background.sass */
.earth-layer {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  height: 1000px; }
  /* line 48, ../../sass/_background.sass */
  .earth-layer img {
    width: 904px;
    max-width: 100%; }

/* line 53, ../../sass/_background.sass */
.touch .earth-layer {
  top: -2%; }
  @media (min-width: 960px) {
    /* line 53, ../../sass/_background.sass */
    .touch .earth-layer {
      top: -500px; } }

/* line 3, ../../sass/_nav.sass */
.page-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: white;
  text-transform: uppercase; }
  /* line 12, ../../sass/_nav.sass */
  .page-nav .nav-container {
    max-width: 848px;
    min-height: 48px;
    margin: 0 auto; }
    /* line 17, ../../sass/_nav.sass */
    .page-nav .nav-container.ui-show {
      background-color: #222222; }
    @media (min-width: 960px) {
      /* line 12, ../../sass/_nav.sass */
      .page-nav .nav-container {
        min-height: 0;
        background-color: #222222;
        height: 37px; }
        /* line 24, ../../sass/_mixin.sass */
        .page-nav .nav-container:before, .page-nav .nav-container:after {
          content: "";
          position: absolute;
          top: 0;
          border-width: 37px 18px;
          border-color: #222222 transparent; }
        /* line 31, ../../sass/_mixin.sass */
        .page-nav .nav-container:before {
          border-style: solid none none solid;
          left: 0;
          margin-left: -18px; }
        /* line 37, ../../sass/_mixin.sass */
        .page-nav .nav-container:after {
          border-style: solid solid none none;
          right: 0;
          margin-right: -18px; } }
  /* line 24, ../../sass/_nav.sass */
  .page-nav ul {
    display: none;
    width: 100%;
    padding: 0 24px; }
    @media (min-width: 960px) {
      /* line 24, ../../sass/_nav.sass */
      .page-nav ul {
        display: block;
        text-align: justify; }
        /* line 101, ../../sass/_mixin.sass */
        .page-nav ul:after {
          content: "";
          display: inline-block;
          width: 100%; } }
  /* line 32, ../../sass/_nav.sass */
  .page-nav .ui-show ul {
    display: block; }
  /* line 34, ../../sass/_nav.sass */
  .page-nav li {
    padding: 12px 0; }
    @media (min-width: 960px) {
      /* line 34, ../../sass/_nav.sass */
      .page-nav li {
        display: inline-block;
        font-size: 14px; } }
  /* line 43, ../../sass/_nav.sass */
  .page-nav .current-nav-item:before {
    background-color: #00a4e4; }

/* line 46, ../../sass/_nav.sass */
.mobile-nav-hook {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  top: auto;
  right: 0;
  left: auto;
  margin: 12px 24px;
  width: 24px;
  height: 24px; }
  /* line 52, ../../sass/_nav.sass */
  .mobile-nav-hook span,
  .mobile-nav-hook span:before,
  .mobile-nav-hook span:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 24px;
    height: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5); }
  /* line 63, ../../sass/_nav.sass */
  .mobile-nav-hook span:before {
    top: 8px; }
  /* line 65, ../../sass/_nav.sass */
  .mobile-nav-hook span:after {
    top: 16px; }
  @media (min-width: 960px) {
    /* line 46, ../../sass/_nav.sass */
    .mobile-nav-hook {
      display: none; } }

/* line 2, ../../sass/_home.sass */
.home-section .wrapper {
  overflow: hidden;
  *zoom: 1; }
@media (min-width: 960px) {
  /* line 1, ../../sass/_home.sass */
  .home-section {
    padding: 432px 0 96px; }
    /* line 8, ../../sass/_home.sass */
    .home-section .wrapper {
      padding-bottom: 24px; }
      /* line 10, ../../sass/_home.sass */
      .home-section .wrapper h2 {
        float: left;
        width: 50%;
        font-size: 24px;
        border-right: 4px solid white;
        padding: 0 28px;
        text-align: right;
        line-height: 28px; }
      /* line 18, ../../sass/_home.sass */
      .home-section .wrapper p {
        float: right;
        width: 50%;
        padding: 4px 12px 4px 24px;
        font-size: 13px;
        line-height: 24px; } }

/* line 25, ../../sass/_home.sass */
.event-button {
  display: block;
  margin: 0 auto;
  text-align: center; }
  /* line 29, ../../sass/_home.sass */
  .event-button img {
    max-width: 100%; }
  /* line 31, ../../sass/_home.sass */
  .event-button span {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 16px;
    width: 100%;
    text-transform: uppercase; }

/* line 39, ../../sass/_home.sass */
.hero-text {
  font-size: 16px; }
  @media (min-width: 960px) {
    /* line 39, ../../sass/_home.sass */
    .hero-text {
      padding: 0 24px 24px; } }

/* line 44, ../../sass/_home.sass */
.start-own-event {
  text-align: center;
  text-transform: uppercase; }
  /* line 47, ../../sass/_home.sass */
  .start-own-event a {
    text-decoration: underline; }

@media (min-width: 960px) {
  /* line 3, ../../sass/_flight_school.sass */
  .resources-section .event-formats {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 24px; }
    /* line 6, ../../sass/_flight_school.sass */
    .resources-section .event-formats li {
      float: left;
      width: 33.33333%; } }
/* line 11, ../../sass/_flight_school.sass */
.resources-section .event-formats h3 {
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 12px; }
/* line 17, ../../sass/_flight_school.sass */
.resources-section .event-formats p {
  padding: 0 24px;
  text-align: justify; }
/* line 20, ../../sass/_flight_school.sass */
.resources-section .event-formats a {
  margin: 12px 24px; }

/* line 23, ../../sass/_flight_school.sass */
.no-svg .event-formats h3 {
  background-image: url('../img/event-format.png?1387306559'); }

/* line 26, ../../sass/_flight_school.sass */
.svg .event-formats h3 {
  background-image: url('../img/event-format.svg?1387306556'); }

/* line 2, ../../sass/_locations.sass */
.location-section .map-canvas {
  margin-bottom: 24px;
  height: 300px; }
  @media (min-width: 640px) {
    /* line 2, ../../sass/_locations.sass */
    .location-section .map-canvas {
      height: 500px; } }
/* line 8, ../../sass/_locations.sass */
.location-section .infoBox {
  width: 320px !important; }
/* line 11, ../../sass/_locations.sass */
.location-section .infoBox img {
  z-index: 10; }
/* line 14, ../../sass/_locations.sass */
.location-section .location-switch-modes {
  width: 100%;
  position: absolute;
  z-index: 100;
  text-align: center;
  border-top: 4px solid #00a4e4; }
  /* line 20, ../../sass/_locations.sass */
  .location-section .location-switch-modes button {
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    background-color: #00678e;
    height: 32px;
    padding: 0 24px;
    margin: 0 -4px; }
    /* line 30, ../../sass/_locations.sass */
    .location-section .location-switch-modes button:focus {
      outline: none; }
    /* line 32, ../../sass/_locations.sass */
    .location-section .location-switch-modes button:before, .location-section .location-switch-modes button:after {
      content: "";
      position: absolute;
      top: 0;
      border-width: 32px 16px;
      border-style: solid;
      border-color: #00678e transparent transparent;
      width: 0; }
    /* line 41, ../../sass/_locations.sass */
    .location-section .location-switch-modes button:before {
      left: -16px; }
    /* line 43, ../../sass/_locations.sass */
    .location-section .location-switch-modes button:after {
      right: -16px; }
    /* line 46, ../../sass/_locations.sass */
    .location-section .location-switch-modes button.ui-show {
      background-color: #00a4e4;
      z-index: 10; }
      /* line 49, ../../sass/_locations.sass */
      .location-section .location-switch-modes button.ui-show:before, .location-section .location-switch-modes button.ui-show:after {
        border-top-color: #00a4e4; }
/* line 54, ../../sass/_locations.sass */
.location-section .event-infobox {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 12px 12px;
  border: 4px solid; }
  /* line 58, ../../sass/_locations.sass */
  .location-section .event-infobox h3,
  .location-section .event-infobox p {
    font-family: "Montserrat", sans-serif;
    line-height: 1; }
  /* line 62, ../../sass/_locations.sass */
  .location-section .event-infobox p {
    padding-bottom: 0; }
  /* line 64, ../../sass/_locations.sass */
  .location-section .event-infobox h3 {
    padding-bottom: 6px; }
  /* line 66, ../../sass/_locations.sass */
  .location-section .event-infobox a {
    text-decoration: underline;
    font-size: inherit;
    font-family: inherit; }
/* line 71, ../../sass/_locations.sass */
.location-section .location-event-list {
  margin: 0px;
  padding-top: 12px; }
  /* line 74, ../../sass/_locations.sass */
  .location-section .location-event-list .event-wrapper {
    padding: 12px 12px; }
  /* line 76, ../../sass/_locations.sass */
  .location-section .location-event-list time {
    color: #bbbbbb; }
  /* line 78, ../../sass/_locations.sass */
  .location-section .location-event-list a {
    text-decoration: underline;
    cursor: pointer; }
  /* line 82, ../../sass/_locations.sass */
  .location-section .location-event-list .event-title {
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom: 0; }
  /* line 86, ../../sass/_locations.sass */
  .location-section .location-event-list .event-location {
    padding-bottom: 0; }

/* line 90, ../../sass/_locations.sass */
.location-section .event-wrapper.ui-show {
  background-color: #00a4e4; }

@media (min-width: 960px) {
  /* line 95, ../../sass/_locations.sass */
  .csstransforms .location-section .top-border,
  .csstransforms .location-section .bottom-border {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }
    /* line 103, ../../sass/_locations.sass */
    .csstransforms .location-section .top-border:before, .csstransforms .location-section .top-border:after,
    .csstransforms .location-section .bottom-border:before,
    .csstransforms .location-section .bottom-border:after {
      content: "";
      position: absolute;
      height: 57.73503%; }
  /* line 109, ../../sass/_locations.sass */
  .csstransforms .location-section .top-border {
    top: 0;
    border-top: 4px solid #00a4e4; }
    /* line 112, ../../sass/_locations.sass */
    .csstransforms .location-section .top-border:before {
      top: -2px;
      left: 0;
      border-left: 4px solid #00a4e4;
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      transform: rotate(30deg);
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0; }
    /* line 118, ../../sass/_locations.sass */
    .csstransforms .location-section .top-border:after {
      top: 0;
      right: -1px;
      border-right: 4px solid #00a4e4;
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
      transform: rotate(-30deg);
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0; }
  /* line 125, ../../sass/_locations.sass */
  .csstransforms .location-section .bottom-border {
    bottom: 0;
    border-bottom: 4px solid #00a4e4; }
    /* line 128, ../../sass/_locations.sass */
    .csstransforms .location-section .bottom-border:before {
      bottom: 0;
      left: -1px;
      border-left: 4px solid #00a4e4;
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
      transform: rotate(-30deg);
      -webkit-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      -o-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }
    /* line 134, ../../sass/_locations.sass */
    .csstransforms .location-section .bottom-border:after {
      bottom: -2px;
      right: 0;
      border-right: 4px solid #00a4e4;
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      transform: rotate(30deg);
      -webkit-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      -o-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }
  /* line 141, ../../sass/_locations.sass */
  .csstransforms .location-section .event-wrapper.ui-show {
    background-color: transparent; }
    /* line 143, ../../sass/_locations.sass */
    .csstransforms .location-section .event-wrapper.ui-show .top-border,
    .csstransforms .location-section .event-wrapper.ui-show .bottom-border {
      opacity: 1; } }
/* line 1, ../../sass/_register.sass */
label {
  display: block;
  text-transform: uppercase;
  line-height: 24px;
  color: #bbbbbb; }

/* line 91, ../../sass/_mixin.sass */
input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #bbbbbb; }
/* line 93, ../../sass/_mixin.sass */
input:-moz-placeholder {
  text-transform: uppercase;
  color: #bbbbbb; }
/* line 95, ../../sass/_mixin.sass */
input::-moz-placeholder {
  text-transform: uppercase;
  color: #bbbbbb; }
/* line 97, ../../sass/_mixin.sass */
input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #bbbbbb; }

/* line 12, ../../sass/_register.sass */
form {
  margin: 0 auto;
  max-width: 541.33333px; }

/* line 17, ../../sass/_register.sass */
input {
  display: block;
  font-family: "Montserrat", sans-serif;
  margin: 24px 0 0;
  padding: 4px 0;
  border-bottom: 2px solid #eeeeee;
  background-color: transparent;
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  color: #eeeeee; }
  /* line 28, ../../sass/_register.sass */
  input:focus {
    outline: none; }
  /* line 30, ../../sass/_register.sass */
  input:invalid {
    box-shadow: none; }

/* line 33, ../../sass/_register.sass */
input[type=checkbox] {
  display: none; }

/* line 36, ../../sass/_register.sass */
.input-checkbox {
  display: inline-block;
  border: 4px solid #eeeeee;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  top: 6px;
  margin-right: 6px;
  cursor: pointer; }
  /* line 48, ../../sass/_register.sass */
  .input-checkbox.checked {
    background-color: #00a4e4; }
  /* line 51, ../../sass/_register.sass */
  .input-checkbox + label {
    display: inline-block;
    font-size: 13px;
    cursor: pointer; }

/* line 56, ../../sass/_register.sass */
input[type=submit] {
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 4px;
  color: black;
  text-transform: uppercase;
  width: auto;
  padding: 5px 12px 1px; }

/* line 66, ../../sass/_register.sass */
fieldset {
  margin-bottom: 24px; }

/* line 71, ../../sass/_register.sass */
.register-section small {
  color: #00a4e4;
  display: block;
  padding: 12px 0;
  font-size: 13px; }
/* line 77, ../../sass/_register.sass */
.register-section .location {
  overflow: hidden;
  *zoom: 1; }
  /* line 79, ../../sass/_register.sass */
  .register-section .location div {
    float: left; }
  /* line 82, ../../sass/_register.sass */
  .register-section .location .city {
    width: 100%; }
  /* line 84, ../../sass/_register.sass */
  .register-section .location .state {
    width: 50%; }
  /* line 86, ../../sass/_register.sass */
  .register-section .location .country {
    width: 50%; }
  @media (min-width: 640px) {
    /* line 91, ../../sass/_register.sass */
    .register-section .location .city {
      width: 287.33333px; }
    /* line 93, ../../sass/_register.sass */
    .register-section .location .state {
      width: 50px;
      margin-left: 6px; }
    /* line 96, ../../sass/_register.sass */
    .register-section .location .country {
      width: 180px;
      float: right; } }
/* line 100, ../../sass/_register.sass */
.register-section .hosting {
  overflow: hidden;
  *zoom: 1; }
  /* line 102, ../../sass/_register.sass */
  .register-section .hosting .field {
    float: left;
    width: 100%; }
  /* line 105, ../../sass/_register.sass */
  .register-section .hosting .other-field {
    display: inline-block;
    margin: 0;
    font-size: 13px;
    width: 75%; }
  @media (min-width: 640px) {
    /* line 112, ../../sass/_register.sass */
    .register-section .hosting .field {
      width: auto;
      padding-right: 16px; }
      /* line 115, ../../sass/_register.sass */
      .register-section .hosting .field:last-child {
        float: right;
        padding-right: 0; }
    /* line 118, ../../sass/_register.sass */
    .register-section .hosting .other-field {
      width: 120px; } }
