/* Autowatts
 * Ocupop 2013
 * design by <designer>
 * code by <developer>
 */
/* line 17, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../../sass/_base.sass */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 5, ../../sass/_base.sass */
html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  background-color: black;
  padding-bottom: 100px; }

/* line 14, ../../sass/_base.sass */
.touch body,
.no-csstransforms3d body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00678e), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#00678e, #000000);
  background-image: -moz-linear-gradient(#00678e, #000000);
  background-image: -o-linear-gradient(#00678e, #000000);
  background-image: linear-gradient(#00678e, #000000); }

/* line 17, ../../sass/_base.sass */
a {
  color: inherit;
  text-decoration: none; }

/* line 21, ../../sass/_base.sass */
img {
  display: block;
  margin: 0 auto; }

/* line 25, ../../sass/_base.sass */
.container {
  padding: 0 24px;
  max-width: 848px;
  margin: 0 auto; }
  @media (min-width: 960px) {
    /* line 25, ../../sass/_base.sass */
    .container {
      padding: 0 12px; } }

/* line 32, ../../sass/_base.sass */
p {
  font-size: 15px;
  line-height: 19.5px;
  padding-bottom: 24px; }

/* line 37, ../../sass/_base.sass */
h2, h3 {
  text-transform: uppercase;
  padding-bottom: 24px; }

/* line 41, ../../sass/_base.sass */
h2 {
  font-size: 24px;
  line-height: 28.8px; }
  @media (min-width: 640px) {
    /* line 41, ../../sass/_base.sass */
    h2 {
      font-size: 31.2px;
      line-height: 36px; } }

/* line 48, ../../sass/_base.sass */
h3 {
  font-size: 24px; }

/* line 51, ../../sass/_base.sass */
.optional-br {
  display: none; }
  @media (min-width: 960px) {
    /* line 51, ../../sass/_base.sass */
    .optional-br {
      display: block; } }

/* line 56, ../../sass/_base.sass */
.page-header {
  z-index: 10;
  padding: 50px 0;
  width: 100%; }
  /* line 61, ../../sass/_base.sass */
  .page-header img {
    max-width: 100%; }
  @media (min-width: 960px) {
    /* line 56, ../../sass/_base.sass */
    .page-header {
      position: absolute;
      top: 0;
      bottom: auto;
      left: 0;
      right: auto; } }

/* line 67, ../../sass/_base.sass */
section {
  z-index: 10; }
  @media (min-width: 960px) {
    /* line 69, ../../sass/_base.sass */
    section .container {
      padding-left: 294.66667px; } }

/* line 73, ../../sass/_base.sass */
section ul {
  padding-bottom: 24px;
  padding-left: 1em; }
  @media (min-width: 960px) {
    /* line 73, ../../sass/_base.sass */
    section ul {
      max-width: 424px; } }
  /* line 78, ../../sass/_base.sass */
  section ul li {
    list-style: disc;
    line-height: 24px;
    font-size: 13px; }

@media (min-width: 640px) {
  /* line 84, ../../sass/_base.sass */
  .home-section {
    padding-bottom: 100px; } }
@media (min-width: 960px) {
  /* line 84, ../../sass/_base.sass */
  .home-section {
    padding: 350px 0 150px; } }

/* line 90, ../../sass/_base.sass */
.flight-section {
  padding-top: 100px; }
  @media (min-width: 640px) {
    /* line 90, ../../sass/_base.sass */
    .flight-section {
      padding: 150px 0 50px; } }

/* line 95, ../../sass/_base.sass */
.register-section {
  padding: 100px 0 100px; }
  @media (min-width: 640px) {
    /* line 95, ../../sass/_base.sass */
    .register-section {
      padding: 150px 0 300px; } }

/* line 1, ../../sass/_background.sass */
.no-touch .sky-layer {
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  height: 100%;
  background-color: #00678e;
  opacity: 1; }

/* line 8, ../../sass/_background.sass */
.touch .sky-layer,
.no-csstransforms3d .sky-layer {
  display: none; }

/* line 12, ../../sass/_background.sass */
.stars-layer {
  position: absolute;
  top: -50%;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  height: 2000px; }
  /* line 16, ../../sass/_background.sass */
  .stars-layer:before, .stars-layer:after {
    content: "";
    background-image: url('../img/star.png');
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0; }
  /* line 24, ../../sass/_background.sass */
  .stars-layer:before {
    left: 0; }
  /* line 26, ../../sass/_background.sass */
  .stars-layer:after {
    right: 0; }

/* line 29, ../../sass/_background.sass */
.touch .stars-layer {
  display: none; }

/* line 32, ../../sass/_background.sass */
.milky-way-layer {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  height: 1000px; }
  /* line 36, ../../sass/_background.sass */
  .milky-way-layer img {
    width: 1058px;
    max-width: 100%; }

/* line 40, ../../sass/_background.sass */
.touch .milky-way-layer {
  position: fixed; }

/* line 43, ../../sass/_background.sass */
.earth-layer {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 100%;
  height: 1000px; }
  /* line 48, ../../sass/_background.sass */
  .earth-layer img {
    width: 904px;
    max-width: 100%; }

/* line 53, ../../sass/_background.sass */
.touch .earth-layer {
  top: -500px; }

/* line 1, ../../sass/_nav.sass */
.page-nav {
  display: none; }
  @media (min-width: 640px) {
    /* line 1, ../../sass/_nav.sass */
    .page-nav {
      display: block;
      width: 100%;
      padding: 0 24px;
      z-index: 100;
      text-align: center;
      height: 100px; } }
  @media (min-width: 960px) {
    /* line 1, ../../sass/_nav.sass */
    .page-nav {
      height: auto;
      position: fixed;
      top: 0;
      bottom: auto;
      left: 50%;
      right: auto;
      padding: 0;
      width: 282.66667px;
      margin-left: -472px;
      text-align: right;
      margin-top: 350px; } }
  /* line 20, ../../sass/_nav.sass */
  .page-nav li {
    width: 33.33333%;
    height: 28.8px;
    float: left; }
    @media (min-width: 960px) {
      /* line 20, ../../sass/_nav.sass */
      .page-nav li {
        float: none;
        width: 100%;
        margin-bottom: 72px; } }
    /* line 30, ../../sass/_nav.sass */
    .page-nav li:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: auto;
      left: 50%;
      right: auto;
      border-top: 4px solid #eeeeee;
      width: 93%;
      margin-top: 57.5px;
      margin-left: 11.5px; }
      @media (min-width: 960px) {
        /* line 30, ../../sass/_nav.sass */
        .page-nav li:after {
          left: auto;
          right: 0;
          height: 82px;
          margin-left: 0;
          border-top: none;
          border-right: 4px solid #eeeeee;
          margin-right: 9.5px;
          margin-top: 27px; } }
    /* line 48, ../../sass/_nav.sass */
    .page-nav li:last-child:after {
      display: none; }
  /* line 51, ../../sass/_nav.sass */
  .page-nav a {
    height: 100%;
    display: inline-block;
    line-height: 28.8px;
    text-transform: uppercase;
    color: #bbbbbb;
    font-size: 13px; }
    @media (min-width: 960px) {
      /* line 51, ../../sass/_nav.sass */
      .page-nav a {
        padding-right: 39px; } }
  /* line 61, ../../sass/_nav.sass */
  .page-nav img {
    display: inline-block;
    height: 28.8px; }
  /* line 65, ../../sass/_nav.sass */
  .page-nav a:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: auto;
    left: 50%;
    right: auto;
    display: inline-block;
    margin-top: 48px;
    margin-left: -7.5px;
    height: 15px;
    width: 15px;
    border: 4px solid #eeeeee;
    border-radius: 15px; }
    @media (min-width: 960px) {
      /* line 65, ../../sass/_nav.sass */
      .page-nav a:after {
        left: auto;
        right: 0;
        margin-top: 4.5px; } }
  /* line 81, ../../sass/_nav.sass */
  .page-nav .current-nav-item {
    color: #eeeeee; }
  /* line 84, ../../sass/_nav.sass */
  .page-nav .current-nav-item:after {
    background-color: #00a4e4; }

/* line 1, ../../sass/_divider.sass */
.ocu-divider {
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 100px;
  overflow: hidden;
  padding-top: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  /* line 8, ../../sass/_divider.sass */
  .ocu-divider:before, .ocu-divider:after {
    content: "";
    border-top: 4px solid #eeeeee;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 35px; }
  /* line 17, ../../sass/_divider.sass */
  .ocu-divider:before {
    left: -50%;
    margin-left: -30px;
    border-top-left-radius: 100%; }
  /* line 21, ../../sass/_divider.sass */
  .ocu-divider:after {
    right: -50%;
    margin-right: -30px;
    border-top-right-radius: 100%; }
  /* line 28, ../../sass/_divider.sass */
  .ocu-divider.before, .ocu-divider.after {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  /* line 32, ../../sass/_divider.sass */
  .ocu-divider.before .ocu-divider-before {
    display: block; }
  /* line 34, ../../sass/_divider.sass */
  .ocu-divider.after .ocu-divider-after {
    display: block; }

/* line 37, ../../sass/_divider.sass */
.ocu-divider-before,
.ocu-divider-after {
  display: none;
  position: absolute;
  top: auto;
  bottom: auto;
  left: 50%;
  right: auto;
  margin-left: -14px;
  width: 28px;
  height: 28px; }
  /* line 44, ../../sass/_divider.sass */
  .ocu-divider-before span,
  .ocu-divider-after span {
    position: absolute;
    top: 100%;
    bottom: auto;
    left: 50%;
    right: auto;
    margin-left: -100px;
    padding-top: 12px;
    width: 200px;
    text-align: center;
    color: #bbbbbb;
    text-transform: uppercase;
    font-size: 13px; }

/* line 1, ../../sass/_register.sass */
label {
  display: block;
  text-transform: uppercase;
  line-height: 24px;
  color: #bbbbbb; }

/* line 66, ../../sass/_mixin.sass */
input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #bbbbbb; }
/* line 68, ../../sass/_mixin.sass */
input:-moz-placeholder {
  text-transform: uppercase;
  color: #bbbbbb; }
/* line 70, ../../sass/_mixin.sass */
input::-moz-placeholder {
  text-transform: uppercase;
  color: #bbbbbb; }
/* line 72, ../../sass/_mixin.sass */
input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #bbbbbb; }

/* line 12, ../../sass/_register.sass */
form {
  margin: 0 auto;
  max-width: 541.33333px; }

/* line 17, ../../sass/_register.sass */
input {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  font-family: "Montserrat", sans-serif;
  margin: 24px 0 0;
  padding: 4px 0;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #eeeeee;
  background-color: transparent;
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  color: #eeeeee; }
  /* line 32, ../../sass/_register.sass */
  input:focus {
    outline: none; }
  /* line 34, ../../sass/_register.sass */
  input:invalid {
    box-shadow: none; }

/* line 37, ../../sass/_register.sass */
input[type=checkbox] {
  display: none; }

/* line 40, ../../sass/_register.sass */
.input-checkbox {
  display: inline-block;
  border: 4px solid #eeeeee;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  top: 6px;
  margin-right: 6px;
  cursor: pointer; }
  /* line 52, ../../sass/_register.sass */
  .input-checkbox.checked {
    background-color: #00a4e4; }
  /* line 55, ../../sass/_register.sass */
  .input-checkbox + label {
    display: inline-block;
    font-size: 13px;
    cursor: pointer; }

/* line 60, ../../sass/_register.sass */
input[type=submit] {
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 4px;
  color: black;
  text-transform: uppercase;
  width: auto;
  padding: 5px 12px 1px; }

/* line 70, ../../sass/_register.sass */
fieldset {
  margin-bottom: 24px; }

/* line 75, ../../sass/_register.sass */
.register-section small {
  color: #00a4e4;
  display: block;
  padding: 12px 0;
  font-size: 13px; }
/* line 81, ../../sass/_register.sass */
.register-section .location {
  overflow: hidden;
  *zoom: 1; }
  /* line 83, ../../sass/_register.sass */
  .register-section .location div {
    float: left; }
  /* line 86, ../../sass/_register.sass */
  .register-section .location .city {
    width: 100%; }
  /* line 88, ../../sass/_register.sass */
  .register-section .location .state {
    width: 50%; }
  /* line 90, ../../sass/_register.sass */
  .register-section .location .country {
    width: 50%; }
  @media (min-width: 640px) {
    /* line 95, ../../sass/_register.sass */
    .register-section .location .city {
      width: 287.33333px; }
    /* line 97, ../../sass/_register.sass */
    .register-section .location .state {
      width: 50px;
      margin-left: 6px; }
    /* line 100, ../../sass/_register.sass */
    .register-section .location .country {
      width: 180px;
      float: right; } }
/* line 104, ../../sass/_register.sass */
.register-section .hosting {
  overflow: hidden;
  *zoom: 1; }
  /* line 106, ../../sass/_register.sass */
  .register-section .hosting .field {
    float: left;
    width: 100%; }
  /* line 109, ../../sass/_register.sass */
  .register-section .hosting .other-field {
    display: inline-block;
    margin: 0;
    font-size: 13px;
    width: 75%; }
  @media (min-width: 640px) {
    /* line 116, ../../sass/_register.sass */
    .register-section .hosting .field {
      width: auto;
      padding-right: 16px; }
      /* line 119, ../../sass/_register.sass */
      .register-section .hosting .field:last-child {
        float: right;
        padding-right: 0; }
    /* line 122, ../../sass/_register.sass */
    .register-section .hosting .other-field {
      width: 120px; } }
