.group {
  margin-top: 15px;
  padding-top: 10px;
}

.group-heading {
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
}

.screenshot {
  margin-top: 21px;
}

.screenshot img {
  border: 2px solid #aaa;
}

.group-heading {
  margin-top: 20px;
  margin-bottom: 8px;
}

.link {
  font-size: .9em;
}

.example {
  margin: 0px;
  margin: 5px auto;
  padding: 0px;
  border-radius: 3px;
  height: 25px;
}

.title {
  background: #eee;
  padding: 2px 0px 2px 5px;
  border-radius: 3px;
}

.link {
  padding-top: 2px;
}
