body {
  line-height: inherit;
}

.row-fluid [class*="span"] {
  min-height: 21px;
}


.group-heading {
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
  margin: 15px 0;
}

.example {
  margin: 3px auto 7px auto;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  padding: 0px 5px;
  padding-top: 3px;
}

.link {
  text-align: left;
  display: inline-block;
  width: 48%;
  margin: 0;
  padding: 0;
}


