body {
  line-height: inherit;
}

.row-fluid [class*="span"] {
  min-height: 21px;
}


.group-heading {
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0px 0;
}

.example {
  margin: 7px auto;
}

.link {
  text-align: left;
  display: inline-block;
  width: 48%;
  margin: 0;
  padding: 0;
}

.screenshot {
  border: 2px solid #49c;
  border-radius: 5px;
}

.screenshot-container {
  text-align:center;
}
.group-heading {
  border-bottom: 1px solid #eee;
  margin: 20px auto 8px auto;
  padding: 0;
  line-height: inherit;
}

#samples-toc {
  margin-top: 26px;
  margin-left: 0px;
  list-style: none;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
}

.caption {
  text-align: center;
  font-style: italic;
  font-size: .9em;

}
