$color-text: #212121;
$color-heading: #000;
$color-body: #F9F9F9;
$color-primary: #0081C6;
$color-secondary: #00A4E4;
$color-accent: #00A4E4;
$color-action: #55DDCA;
$color-hotpink: #EA00D5;
$color-yellow: #FFB451;
$color-brown: #fff;
$color-orange: #C67008;
