html, body {
	background: $color-body;
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}
