.toast {
	z-index: 5;
}

.masthead {
	z-index: 3;
}

.livestream {
	z-index: 0;
}

.livestream__image {
	z-index: 0;
}

.livestream__anchor {
	z-index: 1;
}

.app {
	z-index: 0;
}

.app-sections {
	z-index: 4;
}

.card {
	z-index: 1;
}

.card--expanded {
	z-index: 4;
}

.card__see-more {
	z-index: 4;
}

.card__content {
	z-index: 0;
}

.card__logo {
	z-index: 4;
}

.card__title {
	z-index: 5;
}

.card__collapse-button {
	z-index: 4;
}

.card__container:before {
	z-index: 4;
}

.card__container:after {
	z-index: 5;
}

.schedule__overview-container {
	z-index: 5;
}

@media (min-width: 960px) {
	.masthead {
		z-index: 0;
	}
}
