<div class="downloads download-buttons">
  <span class="windows">
    <a data-bits="32" data-os="windows" class="download-link btn" href="{{ site.custom.downloads.dartarchive-stable-url-prefix }}/latest/dartium/dartium-windows-ia32-release.zip">
      <button class="{{ include.buttonclass }}">
        <i class="sprite-icon-download-btn"> </i>
        Download Dartium (Windows)
      </button>
    </a>
  </span>

  <span class="macos">
    <a data-bits="32" data-os="macos" data-tool="dartium" class="download-link btn" href="{{ site.custom.downloads.dartarchive-stable-url-prefix }}/latest/dartium/dartium-macos-ia32-release.zip">
      <button class="{{ include.buttonclass }}">
        <i class="sprite-icon-download-btn"> </i>
        Download Dartium (Mac)
      </button>
    </a>
  </span>

  <span class="linux">
    <a data-bits="32" data-os="linux" data-tool="dartium" class="download-link btn" href="{{ site.custom.downloads.dartarchive-stable-url-prefix }}/latest/dartium/dartium-linux-x64-release.zip">
      <button class="{{ include.buttonclass }}">
        <i class="sprite-icon-download-btn"> </i>
        Download Dartium (Linux)
      </button>
    </a>
  </span>
</div>
