<div class="bleeding-edge">
  Want to live on the bleeding edge?
  Download the
  {% for editor in site.custom.downloads.binaries %}
    {% if editor.os == 'macos' %}
    <span class="{{ editor.os }} downloads">
      <a class="download-link" data-bits="64" data-os="{{ editor.os }}" data-build="continuous" href="{{ site.custom.downloads.editor-url-prefix }}-continuous/latest/darteditor-{{ editor.os }}-64.{{ editor.editor-ext }}">
      latest continuous build</a>.
    </span>
    {% else %}
    <span class="{{ editor.os }} downloads">
      latest continuous build:
      <a class="download-link" data-bits="64" data-os="{{ editor.os }}" data-build="continuous" href="{{ site.custom.downloads.editor-url-prefix }}-continuous/latest/darteditor-{{ editor.os }}-64.{{ editor.editor-ext }}">
      64-bit</a>
      or
      <a class="download-link" data-bits="32" data-os="{{ editor.os }}" data-build="continuous" href="{{ site.custom.downloads.editor-url-prefix }}-continuous/latest/darteditor-{{ editor.os }}-32.{{ editor.editor-ext }}">
      32-bit</a>.
  </span>
  {% endif %}
  {% endfor %}
    Be sure to send feedback!
  </p>
</div>
