
<div class="downloads">
    <a data-bits="64" data-os="debian" data-tool="sdk" id="debian-link-stable" class="download-link btn" href="#">
    <button class="{{ include.buttonclass }}">
    	<i class="sprite-icon-download-btn"> </i>
    	Download Dart (stable channel) for Debian {{ upcase }}
    </button>
   	</a>

    <a data-bits="64" data-os="debian" data-tool="sdk" id="debian-link-dev" class="download-link btn" href="#">
    <button class="{{ include.buttonclass }}">
    	<i class="sprite-icon-download-btn"> </i>
    	Download Dart (dev channel) for Debian {{ upcase }}
    </button>
   	</a>
</div>
