The Dart Editor bundle is an easy way to get started with Dart.
When you download the Dart Editor bundle, you get everything you need
to create, edit, test, and build both web-based and server-side applications.

{% include downloads/_dart-editor.html buttonclass="btn-primary" %}

<div class="linux" markdown="1">
<aside class="alert-warning alert" markdown="1">
  **Important:**
  Dart Editor for Linux is **only for Ubuntu**.
  If you use Debian or any other non-Ubuntu distribution,
  you should download just what you need
  and choose another editor.
</aside>
</div>

The Dart Editor bundle includes:

* [Dart Editor](/tools/editor/):
  A powerful tool for editing, debugging, and running Dart
  applications.
* [Dartium](/tools/dartium/):
  A special version of Chromium that includes the Dart VM. You can
  use Dartium to test and debug your Dart web applications.
* [Dart SDK](/tools/sdk/):
  The Dart VM, libraries, and command-line tools such as
  [dart](/tools/dart-vm/),
  [dart2js](/tools/dart2js/),
  [dartanalyzer](/tools/analyzer/),
  [pub](/tools/pub/), and
  [dartdocgen](/tools/dartdocgen/).

<aside class="alert-info alert" markdown="1">
**Tip:**
To enable automatic updates of Dart Editor and Dart,
go to the Dart Editor **Preferences**, choose **Update**,
and select **Download updates automatically**.
For more information, see the documentation for
[Dart Editor](/tools/editor/).
</aside>
