<div class="downloads">
  {% for sdk in site.custom.downloads.binaries %}
  <span class="{{ sdk.os }}">
    <a class="download-link btn btn-primary" href="{{ site.custom.downloads.editor-url-prefix }}-integration/latest/dartsdk-{{ sdk.os }}-64.{{ sdk.ext }}">
    	<i class="icon-download-alt"></i>
    	64-bit Dart SDK ({{ sdk.name }})
   	</a>
    <a class="download-link btn btn-primary" href="{{ site.custom.downloads.editor-url-prefix }}-integration/latest/dartsdk-{{ sdk.os }}-32.{{ sdk.ext }}">
      <i class="icon-download-alt"></i>
      32-bit Dart SDK ({{ sdk.name }})
    </a>
  </span>
  {% endfor %}
</div>
