{% comment %}
Include the following div around one or more of these buttons:
<div class="downloads">
{% endcomment %}
<a
  data-bits="{{ include.bits }}"
  data-os="{{ include.os }}"
  data-tool="sdk"
  class="btn download-link"
  href="{{ site.custom.downloads.dartarchive-dev-url-prefix }}/latest/sdk/dartsdk-{{ include.os }}-{{ include.arch }}-release.zip">
  <button class="btn btn-primary btn-lg download-btn {{ include.buttonclass }}">
  <i class="sprite-icon-download-btn"> </i>
  Download Dart SDK ({{ include.name }})
  </button>
</a>
