<a
    data-bits="{{ include.bits }}"
    data-os="{{ sdk.os }}"
    data-tool="sdk"
    class="btn download-link"
    href="{{ site.custom.downloads.dartarchive-stable-url-prefix }}/latest/sdk/dartsdk-{{ sdk.os }}-{{ include.arch }}-release.{{ sdk.ext }}">
<button class="{{ include.buttonclass }}">
  <i class="sprite-icon-download-btn"> </i>
  Download Dart SDK ({{ include.name }})
</button>
</a>

<a href="{{ site.custom.downloads.dartarchive-stable-url-prefix }}/latest/sdk/dartsdk-{{ sdk.os }}-{{ include.arch }}-release.{{ sdk.ext }}.sha256sum">
  (SHA-256)
</a>
<br />
