At a minimum, you need the Dart SDK.

### Download the Dart SDK

<p class="os-choices">
{% include downloads/_sdk.html buttonclass="btn btn-primary btn-lg" %}
</p>

### Download Dartium

If you're writing a web app,
we recommend downloading Dartium.
Dartium is a special build of Chromium that includes a Dart VM
so that you can test and debug your web app without first
compiling it to JavaScript.

{% include downloads/_dartium.html buttonclass="btn btn-primary btn-lg download-btn" %}

The Dartium binary expires after 12 weeks.  When that happens, you need to
download a new copy to continue using Dartium.
