At a minimum, you need the Dart SDK.
You can get the latest **stable channel** release:

<div class="text-center">
<div class="downloads download-buttons text-center">
{% capture platform_name %}64-bit Windows, stable{% endcapture %}
{% include downloads/_sdk-button.html name=platform_name buttonclass=btn-primary bits="64" os="windows" arch="x64" %}

{% capture platform_name %}32-bit Windows, stable{% endcapture %}
{% include downloads/_sdk-button.html name=platform_name buttonclass=btn-primary bits="32" os="windows" arch="ia32" %}
</div>
<div class="editor-current-version version">
  Current stable version of Dart:
  <span class="editor-build-rev-stable">[calculating]</span>
</div>
</div>

Or, for the latest bits, get the most recent **dev channel** release:

<div class="text-center">
<div class="downloads download-buttons">
{% capture platform_name %}64-bit Windows, dev{% endcapture %}
{% include downloads/_sdk-button-dev.html name=platform_name buttonclass=btn-primary bits="64" os="windows" arch="x64" %}

{% capture platform_name %}32-bit Windows, dev{% endcapture %}
{% include downloads/_sdk-button-dev.html name=platform_name buttonclass=btn-primary bits="32" os="windows" arch="ia32" %}
</div>
<div class="editor-current-version version">
  Current dev version of Dart:
  <span class="editor-build-rev-dev">[calculating]</span>
</div>
</div>

If you're writing a web app, we recommend getting
[Dartium](/tools/dartium/), as well:

<div class="text-center">
<div class="downloads download-buttons">
{% include downloads/_dartium.html name="Windows, stable" buttonclass=btn-primary bits="32" os="windows" arch="ia32" %}
</div>
<div class="downloads download-buttons">
{% include downloads/_dartium-dev.html name="Windows, dev" buttonclass=btn-primary bits="32" os="windows" arch="ia32" %}
</div>
</div>
