## Download Dart

The Dart Editor bundle is the recommended way to get started with Dart on
Windows. When you download the Dart Editor bundle, you get everything you need
to create, edit, test, and build both web-based and server-side applications.

{% include downloads/_dart-editor.html buttonclass="btn-primary" %}

The Dart Editor bundle includes:

* [Dart Editor](/tools/editor/):
  A powerful tool for editing, debugging, and running Dart
  applications.
* [Dartium](/tools/dartium/):
  A special version of Chromium that includes the Dart VM. You can
  use Dartium to test and debug your Dart web applications.
* [Dart SDK](/tools/sdk/):
  The Dart VM, libraries, and command-line tools such as
  [dart](/tools/dart-vm/),
  [dart2js](/tools/dart2js/),
  [dartanalyzer](/tools/analyzer/),
  [pub](/tools/pub/), and
  [docgen](docgen/).


## Or download just what you need

At a minimum, you need the Dart SDK.

### Download the Dart SDK

<p class="os-choices">
{% include downloads/_sdk.html buttonclass="btn btn-primary btn-lg" %}
</p>

### Download Dartium

If you're writing a web app,
we recommend downloading Dartium.
Dartium is a special build of Chromium that includes a Dart VM
so that you can test and debug your web app without first
compiling it to JavaScript.

{% include downloads/_dartium.html buttonclass="btn btn-primary btn-lg download-btn" %}

The Dartium binary expires after 12 weeks.  When that happens, you need to
download a new copy to continue using Dartium.
