---
title: Kathy Walrath
layout: default
rel:
  me: https://plus.google.com/105904968710974272643/
---
<h1>Kathy Walrath</h1>

<article class="author">
  <section class="author-follow">
    <h2>Follow Kathy</h2>
    <ul>
      <li><a rel="me" href="{{ page.rel.me }}">+Kathy Walrath</a></li>
      <li><a href="http://twitter.com/kwalrath">@kwalrath</a></li>
    </ul>
  </section>

  <section class="author-bio">
    <h2>Bio</h2>
    <p>
      Kathy is a technical writer who's worked on docs for
      Chrome and other developer APIs at Google since 2006.
      Before that, she worked at Sun, NeXT, and HP.
      Back when the web was young,
      she wrote the first doc to help developers write Java applets.
      She also co-created The Java Tutorial and maintained it for a very long time.
    </p>
  </section>

  <section class="author-articles">
    <h2>On this site</h2>
    <ul>
      {% for article in site.pages %}
        {% if article.rel and article.rel.author == 'seth-ladd' %}
          <li><a href="{{ article.url }}">{{ article.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</article>