.codes {
  display: block;
  width: 100%;
  min-height: 150px;
  /* width: 600px;
  height: 300px; */
  white-space: pre;
  font-family: monospace;
  font-size: 11pt;
  padding-bottom: 34px; /* hack to avoid scrollbars */
  border: 1px solid #ddd;
}
.for-samples {
  height: 300px;
}

#samples {
  padding-bottom: 2px;
}

#samples-list {
  outline: 0;
  min-width: 200px;
}

div.explanation {
  border: solid 1px #aaa;
  padding: 0 1em;
  margin: 1em 0;
  height: 400px;
  overflow: auto;
}
.upgrade {
  margin-top: -1px;
  color: #fff;
  background: rgb(35, 63, 89);
  border: 1px solid #aaa;
  font-size: 11pt;
  padding: 4px;
}

.upgrade a {
  color: #fff;
}

