
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #1155CC;
}
a, a:active, a:visited {
  color: #1155CC;
  text-decoration: none;
}
a:hover {
  color: #036;
  text-decoration: underline;
}

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/

table.operatorTable th {
  text-align:left;
}

td.operatorList {
  font-family: monospace, sans-serif;
}

td.operator {
  text-align:center;
  font-family: monospace, sans-serif;
}

section#articles {
  column-count:2;
  -webkit-column-count:2;
  -moz-column-count:2;
}

section#articles section, section#articles section section {
  column-break-inside:avoid;
  -webkit-column-break-inside:avoid;
  break-inside:avoid-column; /* does this work anywhere? */
  display: inline-block; /* kind of works on mozilla */
  margin-bottom:.65em;
}

ol.toc, ol.toc ol {
  list-style-type: none;
  margin-left: 1em;
}

ol.toc ol {
    margin-bottom: 0;
}

ol ol { list-style-type: lower-alpha; }

p {
  margin-bottom: 1em;
}

.comment, authornote {
  color:red;
  /* display:none; */
}

b, strong { font-weight: bold; }
i, em { font-style: italic; }

article dl dd {
  margin-left: 1em;
}

html {
  height: 100%;
}

body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  background-image: url(/imgs/button-textured.png);
  background-repeat: repeat;
  height: 100%;
}

a {
    color: #1155CC;
}

a:visited {
    color: #1155CC;
}

div#container {
  min-height: 100%;
  width: 1000px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 50px #888;
  overflow: hidden;
}

span#tagline {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 140;
  font-size: 11pt;
  position: absolute;
  bottom: 30px;
  right: 70px;
}


header {
  height: 170px;

  background-image: url(/imgs/header-background.jpg);
  background-image: url(/imgs/header-background.jpg), -webkit-gradient(
    linear,
    left bottom,
    left,
    color-stop(0.05, rgb(46,46,46)),
    color-stop(0.64, rgb(34,63,89))
  );

  background-position: left top;
  background-repeat: no-repeat;
  position: relative;
}

header {
  -moz-box-shadow: inset 0 -5px 10px rgba(0, 0, 0, .1);
  -webkit-box-shadow: inset 0 -5px 10px rgba(0, 0, 0, .1);
  box-shadow: inset 0  -5px 10px rgba(0, 0, 0, .1);
}

header img {
  position: absolute;
  left: 165px;
  top: 20px;
  display: inline;
}

header li {
  display: inline;
}

header div#plus1 {
  position: absolute;
  top: 20px;
  right: 20px;
}

nav div#search {
  margin-bottom: .65em;
}

nav, section#classes-nav {
  clear: both;
  width: 170px;
  float: left;
  display: inline;
  margin: 20px;
  font-weight: 300;
  letter-spacing: 20;
}

section#classes-nav {
  width: 220px; /* 240 */
  overflow: hidden;
  font-size: 14px;
}

nav a {
  text-decoration: none;
}

nav ul ul {
  margin-left: 1em;
}

nav li {
  margin-bottom: .65em;
}

nav ul ul {
  margin-top: .65em;
}

div#main, div#docs-main {
  width: 700px;
  float: left;
  margin: 20px;
  padding: 0;
  display: inline;
}

div#docs-main {
  width: 650px; /* 600px; */
}

header h2 {
  font-size: 2em;
  font-style: italic;
  margin-bottom: 0.5em;
}

article h1 {
  font-size: 2.3em;
  margin-bottom: 10px;
}

article h2 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-top: 25px;
}

article h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 25px;
}

article h4, article h5 {
  margin-bottom: 10px;
  margin-top: 25px;
}

article h5 {
  font-size: 0.9em;
}

article section {
  font-weight: 400;
}

article p {
  margin-bottom: 10px;
  font-weight: 400;
}

article ol, article ul {
  margin-bottom: 10px;
}

article dt {
  margin-bottom: 5px;
  margin-top: 0.5em;
  font-weight: bold;
}

article dd {
  margin-bottom: 10px;
}

aside.note, aside.new {
  background-color: #FFFACD;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

aside.new b {
  color: red;
}

aside.warning b {
  color: red;
}

aside.warning {
  background-color: #FFCCCC;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#faq-toc li {
    text-indent: -1em;
    margin-bottom: 0.25em;
}

#faq-toc .faq-topic {
    font-size: 1.4em;
    margin-bottom: 0.5em;
    display: block;
}

footer p {
  clear: both;
  font-size: 0.8em;
  text-align: center;
  padding: 20px;
}

div.homepage-intro {
  float: left;
  width: 60%;
  margin-right: 1em;
  height: 240px;
}

.feedburnerFeedBlock .feedTitle {
  font-weight:bold;
}

.feedburnerFeedBlock .headline {
  font-size: 85%;
}

.feedburnerFeedBlock .date {
  display: inline;
  margin-left: 10px;
  color: gray;
  font-size: 80%;
  font-style: italic;
}

.feedburnerFeedBlock ul {
  list-style: none;
}

.feedburnerFeedBlock li {
  margin-bottom: .7em;
}

.feedburnerFeedBlock .feedTitle img {
  margin-right: 5px;
}

section#what-is-dart dl dt {
  color: #1155CC;
  font-size: 1.6em;
}

section#what-is-dart h2 {
  color: #1155CC;
}

div.downloads {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: 1em;
}

a.button {
  padding: 1em;
  margin-right: 1em;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  background-image: url(/imgs/button-textured.png);

  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}

section#start-here {
  height: 100%;
}

section#start-here a {
  display: block;
  padding: 1.2em;
  color: black;
  font-weight: 800;
  border-radius: 5px;
  font-size: 1.5em;
  float: left;
  margin: 1.5em;

  text-decoration: none;
  background-image: url(/imgs/button-textured.png);

  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}

section#classes-overview a,
section#fields-overview a {
  text-decoration: none;
}

section#classes-overview a:hover,
section#fields-overview a:hover {
  text-decoration: underline;
}

section#classes-overview ul,
section#fields-overview ul {
  list-style-type: none;
  line-height: 1.5em;
  font-size: 85%;
  font-weight: normal;
  margin-left: 1em;
}

section#classes-overview h1, section#classes-overview h2,
section#classes-overview h3, section#classes-overview h4,
section#classes-overview h5, section#classes-overview h6,
section#fields-overview h1, section#fields-overview h2,
section#fields-overview h3, section#fields-overview h4,
section#fields-overview h5, section#fields-overview h6 {
  color: black;
  padding: 1em 0 0.5em 0;
}

section {
  clear: both;
}

pre.commandline {
  color: black;
  background-color: #DCDCDC;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

article.author h2 {
  font-size: 1.1em;
}

.beware {color:red; font-weight:bold;}

/* TODO: fix me! */
blockquote {
  margin: 1em 2em;
}

/* TODO: fix me! */
table {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* TODO: fix me! */
th, td {
  padding: 0 1em 0.5em 0;
}

.spec-update .commentary {
    color: green;
}

.spec-update .new {
    background-color: yellow;
}

.spec-update .rationale {
    color: blue;
    font-style: italic;
}

.spec-update .open-questions {
    color: red;
}

.code-error {
  text-decoration: line-through;
}

pre.prettyprint {
  margin-bottom: 1em;
}

figcaption {
  font-style: italic;
  font-size: 0.9em;
}

pre.syntax {
  margin-left:2em;
}

p.up-to-toc { margin: 2em 0 2em 0; }


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
