div.bad pre.prettyprint {
  border-radius: 5px;
  background-color: #fff8f8;
}

div.good pre.prettyprint {
  border-radius: 5px;
  background-color: #f8fff8;
}

.good pre.prettyprint:before {
  content: "good";
  color: #696;
  float: right;
}

.bad pre.prettyprint:before {
  content: "bad";
  color: red;
  float: right;
}

/* Pretty printing styles. Used with prettify.js. */

pre.prettyprint {
  
  /* SPAN elements with the classes below are added by prettyprint. */
  .pln { color: #000 }  /* plain text */

  @media screen {
    .str { color: #d14 }  /* string content */
    .kwd { color: #000; font-weight: bold }  /* a keyword */
    .com { color: #999988 }  /* a comment */
    .typ { color: #445588; font-weight: bold }  /* a type name */
    .lit { color: #099 }  /* a literal value */
    /* punctuation, lisp open bracket, lisp close bracket */
    .pun, .opn, .clo { color: #000 }
    .tag { color: #000080 }  /* a markup tag name */
    .atn { color: #008080 }  /* a markup attribute name */
    .atv { color: #d14 }  /* a markup attribute value */
    .dec, .var { color: #008080 }  /* a declaration; a variable name */
    .fun { color: #990000 }  /* a function name */
  }

  /* Use higher contrast and text-weight for printable form. */
  @media print, projection {
    .str { color: #d14 }
    .kwd { color: #000; font-weight: bold }
    .com { color: #666 }
    .typ { color: #445588; font-weight: bold }
    .lit { color: #099 }
    .pun, .opn, .clo { color: #000 }
    .tag { color: #000080 }
    .atn { color: #008080 }
    .atv { color: #d14 }
    .dec, .var { color: #008080 }
    .fun { color: #990000 }
  }

  pre.prettyprint { font-size: 12px }

  /* Specify class=linenums on a pre to get line numbering */
  ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
  li.L0,
  li.L1,
  li.L2,
  li.L3,
  li.L5,
  li.L6,
  li.L7,
  li.L8 { list-style-type: none }
  /* Alternate shading for lines */
  li.L1,
  li.L3,
  li.L5,
  li.L7,
  li.L9 { background: #eee }
}
