/* tutorial styles */

#tutorial-side {
  width: 200px;
  position: fixed;
  top: 85px;
}

/* Large desktop */
@media (min-width: 1200px) {
  #tutorial-side {
    width: 258px;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
  #tutorial-side {
    width: 158px;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { #tutorial-side {position: static; width:100%;} }
 
/* Landscape phones and down */
@media (max-width: 480px) { #tutorial-side {position: static; width:100%;} }



#tutorial-toc {
  list-style-type: square;
  font-size: 9pt;

  padding: 10px;
  background-color: #DDFFDD;
  border-radius: 10px;

  margin: 0px 0px 15px 0px;

  ul {
    margin: 0px 0px 0px 15px;
  }

  li {
    line-height: 120%;
  }

  h4 {
    padding-bottom: 7px;
  }

}

#whats-the-point {
  list-style-type: square;
  font-size: 9pt;

  padding: 10px;
  background-color: #D8ECFD;
  border-radius: 10px;

  margin: 0px 0px 15px 0px;

  ul {
    margin: 0px 0px 0px 15px;
  }

  li {
    line-height: 120%;
    padding-bottom: 7px;
  }

  h4 {
    padding-bottom: 7px;
  }

/* colors from logo */
/*$blue-dark: #0081C6;*/
/*$blue-light: #00A4E4;*/
/*$green-dark: #00D2B8;*/
/*$green-light: #55DDCA;*/

}

#code-links {
  list-style-type: square;
  font-size: 9pt;

  padding: 10px;
  background-color: #FFE4E1;
  border-radius: 10px;

  margin: 0px 0px 15px 0px;

  p {
    font-size: 9pt;
    line-height: 120%;
  }

  ul {
    margin: 0px 0px 0px 15px;
  }

  li {
    line-height: 120%;
    padding-bottom: 7px;
  }

  h4 {
    padding-bottom: 7px;
  }

}

.icon-info-sign {
  color: SlateBlue;
  font-size: 18pt;
  vertical-align: middle;
}

#under-construction {
  background-color: #F5E2FF;
  border-radius: 10px;
  border-width: 1px;
  margin: 15px 50px 15px 50px;
  padding: 10px;

  h3 {
    font-weight: bold;
    font-size: 16pt;
  }

  .icon-wrench {
    font-size: 24pt;
  }
}

#target-group {
  background-color: #F5E2FF;
  border-radius: 10px;
  border-width: 1px;
  margin: 15px 10px 15px 10px;
  padding: 10px;

  h3 {
    font-weight: bold;
    font-size: 16pt;
  }

  .icon-wrench {
    font-size: 24pt;
  }
}
