
.preview-warning {
  color:Gray;
  background-color:WhiteSmoke;
  border-style:solid;
  border-width:1px;
  border-radius:4px;
  border-color:Black;
  font-size:36px;
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:20px;
  margin-top:20px;
}

