---
layout: default
title: "Chromium with the Dart VM"
---

{% include platform-specific-text/_noscript.html %}

<h1> {{ page.title }} </h1>

<section class="overview">

<p>
This page tells you how to get and use
a Chromium-based browser (nicknamed <em>Dartium</em>)
that includes the Dart virtual machine (VM).
This browser can execute Dart web apps directly,
so you don't have to compile your code to JavaScript
until you're ready to test on other browsers.
Dartium is available for
    <input type="radio" name="osChoices" id="win">
    <label class="os-choice" for="win">Windows</label>,

    <input type="radio" name="osChoices" id="linux" checked="true">
    <label class="os-choice" for="linux">Linux</label>, or

    <input type="radio" name="osChoices" id="mac">
    <label class="os-choice" for="mac">Mac</label>.
</p>

<aside>
  <div class="alert">
    <strong>Warning:</strong>
    This browser is a technical preview,
    and it might have security and stability issues.

    <b>Do not use Dartium as your primary browser!</b>
  </div>
</aside>

<h4> Contents </h4>
<ol class="toc">
  <li> <a href="#download">Downloading and installing the browser</a> </li>
  <li> <a href="#launch">Launching the browser</a> </li>
  <li> <a href="#bug">Filing bugs</a> </li>
  <li> <a href="#linking">Linking to Dart source</a> </li>
  <li> <a href="#detect">Detecting Dart support</a> </li>
  <li> <a href="#command">Launching from the command line</a> </li>
</ol>
</section>


<section id="download">
<h2> Downloading and installing the browser </h2>

<p>
If you have an up-to-date version of
<a href="/docs/editor/">Dart Editor</a>,
you already have Dartium.
</p>

<p>
If you don't have Dart Editor
or want a different version of Dartium,
you can download it separately:
</p>

{% include downloads/_dartium.html %}

<br>

<aside>
  <div class="alert">
    <strong>Warning:</strong>
    The Dartium binary <b>will expire</b> after a few days.
    When that happens,
    you'll need to download a new copy
    if you want to continue using Dartium.
  </div>
</aside>

<p>
You don't usually need to do anything special to install Dartium:
just unarchive the ZIP file.
If you want Dart Editor to launch a particular copy of Dartium,
then put that copy inside
the <b>dart-sdk</b> directory of your
<a href="/docs/editor/">Dart Editor
installation directory</a>,
replacing the original copy of Chromium.
</p>

</section>


<section id="launch">
<h2> Launching the browser </h2>

<p>
To launch Dartium, navigate to its directory in your finder,
and double-click the Chromium executable file.
Or use
<a href="/docs/editor/">Dart Editor</a>
or the <a href="#command">command line</a>.
</p>

<p>
If launching fails and you're using 64-bit Linux,
you probably need to install 32-bit libraries.
See <a href="http://dartbug.com/2052">bug #2052</a>
for details and tips.
</aside>

</p>

<p>
<b>If you already use Chromium:</b>
If another version of Chromium is open,
then you could have a profile conflict.
To avoid this, you can open Dartium or Chromium
from the command line with the
<a href="http://www.chromium.org/user-experience/user-data-directory">--user-data-dir flag</a>.
</p>

</section>


<section id="bug">
<h2> Filing bugs </h2>

<p>
If you find a bug in Dartium,
create an issue in the Dart project
and use the Dartium bug template:
</p>

<blockquote>
<a href="http://code.google.com/p/dart/issues/entry?template=Defect%20report%20for%20Dartium">File a bug against Dartium</a>
</blockquote>

</section>

<section id="linking">
<h2> Linking to Dart source </h2>

<p>
  Use a script tag with a type <code>application/dart</code>
to link to your Dart source file.
</p>

<p>Example:</p>

{% highlight html %}
<!DOCTYPE html>
<html>
  <body>
    <script type="application/dart" src="app.dart"></script>
    <!-- bootstraps the Dart VM and handles non-Dart browsers -->
    <script type="text/javascript"
      src="http://dart.googlecode.com/svn/trunk/dart/client/dart.js">
    </script>
  </body>
</html>
{% endhighlight %}

<aside>
  <div class="alert alert-info">
    <strong>Tip:</strong>
    The Dart Editor automatically adds both
    the <code>application/dart</code> script tag and the
    bootstrap JavaScript tag into the project's main HTML file.
  </div>
</aside>

</section>


<section id="detect">
<h2> Detecting Dart support </h2>

<p>
  The above example uses a bootstrap script that takes care
  of turning on the Dart VM, as well as compatibility with
  non-Dart browsers. Instead of using the <code>dart.js</code>
  script, you can manually include the necessary JavaScript
  code.
</p>

<p>
To start the Dart VM,
look for the function <b>webkitStartDart</b>
on the window.navigator object.
For example:
</p>

{% highlight javascript %}
if (!navigator.webkitStartDart) {
  // No native Dart support.
  window.addEventListener("DOMContentLoaded", function (e) {
      // ...Fall back to compiled JS...
    }
  }, false);
} else {
  if (!navigator.webkitStartDart()) {
    document.body.innerHTML = 'This build has expired.  Please download a new Dartium at http://www.dartlang.org/dartium/index.html';
  }
}
{% endhighlight %}

</section>


<section id="command">
<h2> Launching from the command line </h2>

<p>
Because Dartium is based on Chromium, all
<a href="http://www.chromium.org/developers/how-tos/run-chromium-with-flags">Chromium flags</a>
should work.
In some cases, you might want to specify Dart-specific flags
so that you can tweak the embedded Dart VM's behavior.
For example, while developing your web app,
you might want the VM to perform as many checks as possible.
To achieve that, you can enable checked mode
(the VM's --enable_type_checks flag)
and assertion checks (--enable_asserts flag).
</p>

<p>
On Linux, you can specify flags by starting Dartium as follows:
</p>

{% highlight bash %}
DART_FLAGS='--enable_type_checks --enable_asserts' PATH/chrome
{% endhighlight %}

<p>
On the Mac:
</p>

{% highlight bash %}
DART_FLAGS='--enable_type_checks --enable_asserts'              \
  PATH/Chromium.app/Contents/MacOS/Chromium
{% endhighlight %}

<p>
Or (also on the Mac):
</p>

{% highlight bash %}
DART_FLAG='--enable_type_checks --enable_asserts'               \
   open PATH/Chromium.app
{% endhighlight %}

<br>
<aside>
  <div class="alert alert-info">
    <strong>Tip:</strong>
    You can see the command-line flags and executable path
    of your current Chromium-based browser
    by going to <b>chrome://version</b>.
  </div>
</aside>
</section>

<script async src="/js/Switcher.dart.js"></script>

