---
layout: default
title: "Tools for Dart"
description: "Lots of tools to help you write your Dart apps."
has-permalinks: false
js:
- url: /js/os-switcher.js
  defer: true
- url: /js/editor-downloads-analytics.js
  defer: true
- url: /js/editor-version.js
  defer: true
---

<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1> {{page.title}} </h1>
      <p>
        Download editors, IDE plugins, command-line tools, and more
      </p>
    </div>
    <div class="col-md-6">
      <img src="images/dart-editor.png"
           style="border:1px gray solid; width:100%">
    </div>
  </div>
</div>


<p class="os-choices">
  The Dart download 
  has everything you need
  to edit, run, and debug Dart apps.
  Dart Editor, Dartium, and the SDK tools
  work in recent versions of
  {% include os-choices.html %}
  The Dart development tools
  <b>do not support Windows XP</b>.
</p>

<div align="center">
  {% include downloads/_dart-editor.html buttonclass="btn btn-primary btn-lg"  %}
</div>

<p>
  
</p>

<div class="row">
  <div class="col-md-4">
    <h2> Editors and IDEs </h2>

    <p>
      We recommend starting with Dart Editor.
      It's included in the Dart download,
      and it works well with all the Dart tools.
    </p>

    <table>
      <tr>
        <td> <img src="images/dart-logo-48.png" align="left" width="48"
                  alt="Dart logo" > </td>
        <td> <a href="/tools/editor/"><b>Dart Editor</b></a> </td>
      </tr>
    </table>

    <p>
      Alternatively, you can use Dart plugins for other editors and IDEs:
    </p>

    <table>
      <tr>
        <td> <img src="images/IntellIJ-IDEA.png" width="48"
                  alt="IntelliJ logo" > </td>
        <td> <a href="webstorm/"><b>IntelliJ IDEA and WebStorm</b></a> </td>
      </tr>
      <tr>
        <td> <img src="images/eclipse.png" align="left" width="48"
                  alt="Eclipse logo" > </td>
        <td> <a href="/tools/eclipse-plugin/"><b>Eclipse</b></a> </td>
      </tr>
      <tr>
        <td> <img src="images/emacs.png" width="48"
                  alt="Emacs logo" > </td>
        <td> <a href="https://github.com/nex3/dart-mode"><b>Emacs</b></a> </td>
      </tr>
      <tr>
        <td> <img src="images/sublime.png" width="48"
                  alt="Sublime logo" > </td>
        <td> <a href="https://github.com/dart-lang/dart-sublime-bundle#readme"><b>Sublime Text 2</b></a> </td>
      </tr>
      <tr>
        <td> <img src="images/vim.svg" width="48"
                  alt="Vim logo" > </td>
        <td> <a href="https://github.com/dart-lang/dart-vim-plugin"><b>Vim</b></a> </td>
      </tr>
    </table>

  </div>

  <div class="col-md-4">
    <h2> Other downloads </h2>
    <p> 
      You might need the following downloads
      if you use an alternate editor or IDE,
      or if you'd like to read API docs offline.
    </p>
    
    <dl>
      <dt> <a href="{{ site.custom.downloads.dartarchive-stable-url-prefix }}/latest/api-docs/dart-api-docs.zip">API documentation</a> </dt>
        <dd>A downloadable bundle of the API reference docs,
          which you can also read online at
          <a href="http://api.dartlang.org">api.dartlang.org</a>. </dd>
      <dt> <a href="/tools/dartium/">Dartium</a> </dt>
        <dd>Chromium with the Dart VM;
          included in the Dart download.
        </dd>
      <dt> <a href="/tools/sdk/">SDK</a>
        <dd>
          Libraries, command-line tools, and more;
          included in the Dart download.
          Includes these command-line tools:
          <ul>
            <li> <a href="/docs/dart-up-and-running/contents/ch04-tools-dart-vm.html">dart</a>:
              The standalone VM </li>
            <li> <a href="/docs/dart-up-and-running/contents/ch04-tools-dart2js.html">dart2js</a>:
              The Dart-to-JavaScript compiler </li>
            <li> <a href="/docs/dart-up-and-running/contents/ch04-tools-dart_analyzer.html">dartanalyzer</a>:
              The static analyzer </li>
            <li> <a href="/docs/dart-up-and-running/contents/ch04-tools-dartdoc.html">dartdoc</a>:
              The API documentation generator </li>
            <li> <a href="http://pub.dartlang.org">pub</a>:
              The Dart package manager </li>
          </ul>
        </dd>
      </dt>
    </dl>

  </div>

  <div class="col-md-4">
    <h2> Tips </h2>

    <p> Get pointers for using Dart tools
      during your development process.
    </p>

    <dl>
      <dt> <a href="/tools/private-files.html">What not to commit</a> </dt>
        <dd> Dart tools generate some files
          that should be local only.
          Here's some advice on what <em>not</em> to put
          into your source repository. </dd>
      <dt> <a href="/docs/dart-up-and-running/contents/ch04-tools-dart2js.html#tools-dart2js-debugging">Debugging code produced by dart2js</a> </dt>
        <dd> Dart web apps are easiest to debug
          with Dart Editor and Dartium.
          So how do you debug the app
          once it's been compiled to JavaScript?
          Here are a few tips for specific browsers. </dd>
      <dt> More tools</dt>
        <dd> This site relies on two non-SDK tools
          to test and deploy Dart code:
          <ul>
            <li> <a href="https://drone.io">drone.io</a>
              continuous integration </li>
            <li> <a href="http://pub.dartlang.org/packages/hop">HOP</a>
              task framework </li>
          </ul>

          You might want to try these, as well:

          <ul>
            <li> <a href="http://pub.dartlang.org/packages/bot">BOT</a>,
              the Dart bag-of-tricks</li>
            <li> <a href="https://github.com/igrigorik/heroku-buildpack-dart">Heroku buildpack for Dart</a>,
              which lets you run your server-side Dart app
              on Heroku's cloud</li>
          </ul>
        </dd>
    </dl>
  </div>
</div>
