
<table class="operatorTable">
<tr>
<th>Description</th>
<th>Operator</th>
<!-- th Associativity /th -->
</tr>

<tr>
<td>unary postfix</td>
<td class="operatorList"><em>expr</em>++ <em>expr</em>-- () [] .</td>
<!-- td left /td -->
</tr>

<tr>
<td>unary prefix</td>
<td class="operatorList">-<em>expr</em> !<em>expr</em> ~<em>expr</em> ++<em>expr</em> --<em>expr</em></td>
<!-- td right /td -->
</tr>

<tr>
<td>multiplicative</td>
<td class="operatorList">* / % ~/</td>
<!-- td left /td -->
</tr>

<tr>
<td>additive</td>
<td class="operatorList">+ -</td>
<!-- td left /td -->
</tr>

<tr>
<td>shift</td>
<td class="operatorList">&lt;&lt; &gt;&gt;</td>
<!-- td left /td -->
</tr>

<tr>
<td>relational</td>
<td class="operatorList">is is! &gt;= &gt; &lt;= &lt;</td>
<!-- td none /td -->
</tr>

<tr>
<td>equality</td>
<td class="operatorList">== != === !==</td>
<!-- td none /td -->
</tr>

<tr>
<td>bitwise AND</td>
<td class="operatorList">&amp;</td>
<!-- td left /td -->
</tr>

<tr>
<td>bitwise XOR</td>
<td class="operatorList">^</td>
<!-- td left /td -->
</tr>

<tr>
<td>bitwise OR</td>
<td class="operatorList">|</td>
<!-- td left /td -->
</tr>

<tr>
<td>logical AND</td>
<td class="operatorList">&amp;&amp;</td>
<!-- td left /td -->
</tr>

<tr>
<td>logical OR</td>
<td class="operatorList">||</td>
<!-- td left /td -->
</tr>

<tr>
<td>conditional</td>
<td class="operatorList"><em>expr</em> ? <em>expr</em> : <em>expr</em></td>
<!-- td none /td -->
</tr>

<tr>
<td>assignment</td>
<td class="operatorList">= *= /= ~/= %= += -= &lt;&lt;= &gt;&gt;= &amp;= ^= |= </td>
<!-- td right /td -->
</tr>
</table>