.masthead {
	min-height: 56px;
	position: fixed;
	width: 100%;
	top: 0;
}

.masthead__color-block {
	background: $color-primary;
	position: absolute;
	top: 0;
	left: 0;
	height: 56px;
	width: 100%;
	min-height: 64px;
	opacity: 0;
	@include shadow-z2();
}

.masthead__container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

.masthead__title {
	@include keyline-16l();
	@include typo-headline();
	font-size: 20px;
	color: #FFF;
	line-height: 64px;
}

.masthead__subtitle {
	display: none;
	@include typo-base();
	font-size: 19px;
	color: #FFF;
	line-height: 23px;
}

.masthead__date-and-location {
	display: none;
	@include typo-base();
	font-size: 16px;
	color: #FFF;
	line-height: 1;
}

@media (min-width: 960px) {
	.masthead {
		height: 396px;
		position: relative;
		background: $color-secondary;
		margin-bottom: -135px;
	}

	.masthead__color-block {
		opacity: 1 !important;
		box-shadow: none;
	}

	.masthead__title {
		position: relative;
		letter-spacing: -0.03em;
		top: 112px;
		left: 146px;
		font-size: 48px;
		line-height: 1;
	}

	.masthead__subtitle {
		display: block;
		position: relative;
		top: 110px;
		left: 164px;
		font-weight: 300;
		opacity: 0.8;
	}

	.masthead__date-and-location {
		display: block;
		position: relative;
		top: 126px;
		left: 164px;
		font-weight: 500;
		letter-spacing: 0.01em;
	}

	.masthead__container:after {
		content: '';
		width: 120px;
		height: 120px;
		position: absolute;
		display: block;
		left: 0px;
		top: 106px;
	    background: url('../images/dart-logo.png') 12px 12px no-repeat;
	    background-size: 90px 90px;
		background-color: white;
		border-radius: 80px;
	}
}
