.pic-1 {
	position: relative;
	display: block;
	width: 100%;
	height: 168px;
	margin: 4px 0;
	background: $color-primary url(../images/pic-1.png) center center no-repeat;
	background-size: cover;
}

.pic-2 {
	position: relative;
	float: right;
	display: block;
	width: calc(50% - 2px);
	margin-left: 2px;
	height: 168px;
	background: $color-primary url(../images/pic-2.png) center -40px no-repeat;
	background-size: cover;
}

.pic-3 {
	position: relative;
	float: right;
	display: none;
	width: calc(50% - 2px);
	height: 240px;
	background: $color-primary url(../images/pic-3.png) left top no-repeat;
	background-size: cover;
}

@media (min-width: 475px) {
	.pic-1 {
		height: 240px;
	}

	.pic-2 {
		height: 210px;
	}
}

@media (min-width: 600px) {
	.pic-1 {
		margin: 0 0 4px 0;
		width: calc(50% - 2px);
		float: left;
	}
}

@media (min-width: 600px) {
	.pic-2 {
		margin: 0 0 4px 0;
		width: calc(50% - 2px);
		float: left;
		height: 484px;
		clear: both;
	}

	.pic-3 {
		display: block;
	}
}

@media (min-width: 800px) {
	.pic-1 {
		margin: 0 2px 4px 4px;
		width: calc(25% - 4px);
		float: right;
		background-position: 55% center;
	}

	.pic-2 {
		clear: none;
		float: left;
		width: calc(25% - 2px);
		background-position: top center;
	}

	.pic-3 {
		margin-top: 4px;
		width: calc(25% - 4px);
	}
}

@media (min-width: 960px) {
	.pic-2 {
		width: calc(25% - 6px);
		margin-left: 4px;
	}

	.pic-3 {
		width: calc(25% - 8px);
		margin-right: 4px;
	}
}
