<p>
The Dart language has special support for the following types:
</p>

<ul>
  <li> <a href="#strings">strings</a> </li>
  <li> <a href="#numbers">numbers</a> </li>
  <li> <a href="#booleans">booleans</a> </li>
  <li> <a href="#lists">lists</a> (also known as <em>arrays</em>) </li>
  <li> <a href="#maps">maps</a> </li>
</ul>

<p>
You can initialize an object of any of these special types
using a <em>literal</em>.
For example, 'this is a string' is a string literal,
and <b>true</b> is a boolean literal.
</p>

<p>
Because every variable in Dart is an object&mdash;an
instance of a <em>class</em>&mdash;you
can usually use <em>constructors</em> to create variables.
Variables for the built-in types are no different.
For example, you can use the Map() constructor to create a map,
using the code <code>new Map()</code>.
</p>


<section>
<h3 id="strings"> Strings </h3>
{% include language-tour/3-built-in-types/strings.html %}
</section>

<section>
<h3 id="numbers"> Numbers </h3>
{% include language-tour/3-built-in-types/numbers.html %}
</section>

<section>
<h3 id="booleans"> Booleans </h3>
{% include language-tour/3-built-in-types/booleans.html %}
</section>

<section>
<h3 id="lists"> Lists (also known as arrays) </h3>
{% include language-tour/3-built-in-types/lists.html %}
</section>

<section>
<h3 id="maps"> Maps </h3>
{% include language-tour/3-built-in-types/maps.html %}
</section>

<section>
<h3 id="builtin-summary"> Summary of built-in types </h3>

<p>
Dart's <a href="#3-built-in-types">built-in types</a> all
have special literals and implement a built-in interface.
For example, numbers have literals such as
<code>1</code> and
<code>1.1</code>,
and they implement the num interface.
</p>

<p>
You often use literals to create objects of most built-in types,
but you can also use constructors.
Booleans are unusual because you can't create new objects
of type <code>bool</code>;
you're stuck with <code>true</code> and <code>false</code>.
</p>

</section>
