<p>
Perhaps the most common collection in nearly every programming language
is the <em>array</em>, or ordered set of objects.
In Dart, arrays are List objects,
so we usually just call them <em>lists</em>.
When you compile Dart to JavaScript,
a Dart list compiles to a JavaScript array.
</p>

<p>
Dart list literals look like JavaScript array literals.
Here's a simple Dart list:
</p>

{% pretty_code dart 0 %}
var list = [1,2,3];
{% endpretty_code %}

<p>
You can get a list's length
and refer to list elements
just as you would in JavaScript:
</p>

{% pretty_code dart 0 %}
var list = [1,2,3];
assert(list.length == 3);
assert(list[1] == 2);
{% endpretty_code %}

<p>
You can add an element to a list using the <b>add()</b> method:
</p>

{% pretty_code dart 0 %}
var list = [1,2,3];
list.add(4);
{% endpretty_code %}

<p>
To remove elements from a list
(reducing the list's size),
use the <b>removeRange()</b> method:
</p>

{% pretty_code dart 0 %}
var list = [1,2,3,4];
list.removeRange(2, 1); // Remove the third element.
{% endpretty_code %}

<section id="list-iterate">
<h4> Iterating </h4>

<p>
When you need to work on each element of a list,
you can use <b>for</b>, <b>for</b>...<b>in</b>, or <b>forEach()</b>.
Use <b>for</b> when you need the current iteration index:
</p>

{% pretty_code dart 0 %}
var list = [1,2,3];
for (var x = 0; x &lt; list.length; x++) {
  print('$x: ${list[x]}');
}
{% endpretty_code %}

<p>
If you don't need the index,
you can use <b>for</b>...<b>in</b>:
</p>

{% comment %}
{PENDING: should we be using final wherever possible?
I hesitated because we haven't covered final yet,
but I also hate to spread bad code.
So I left final in here but haven't gone through and used it elsewhere...}
{% endcomment %}

{% pretty_code dart 0 %}
var list = [1,2,3];
for (final x in list) {
  print(x);
}
{% endpretty_code %}

<p>
If you just want to apply a function to each element of the list,
use the <b>forEach()</b> method:
</p>

{% pretty_code dart 0 %}
var list = [1,2,3];
printElement(element) => print(element);  // Define a function.
list.forEach(printElement);  // Call the function on each list element.
{% endpretty_code %}

<p>
Or, more succinctly:
</p>

{% pretty_code dart 0 %}
var list = [1,2,3];
list.forEach((element) => print(element));
{% endpretty_code %}

</section>


<section id="list-collection">
<h4> List and Collection methods </h4>

<p>
The <a href="http://api.dartlang.org/dart_core/Collection.html#forEach">forEach()</a> method
is just one of many handy methods defined by the
<a href="http://api.dartlang.org/dart_core/List.html">List</a>
interface and its superinterface,
<a href="http://api.dartlang.org/dart_core/Collection.html">Collection</a>.
For example,
the <a href="http://api.dartlang.org/dart_core/Collection.html#filter">filter()</a> method
returns a new collection with only the elements that satisfy a condition.
The <a href="http://api.dartlang.org/dart_core/Collection.html#every">every()</a> and
<a href="http://api.dartlang.org/dart_core/Collection.html#some">some()</a> methods
check whether a collection matches
every condition or at least one condition, respectively.
The <a href="http://api.dartlang.org/dart_core/List.html#sort">sort()</a> method
lets you sort a list using any criteria you like.
</p>

<p>
For more information about lists,
see <a href="#generics">Generics</a>.
</p>

</section>
