<p>
In general, a map is an object that associates keys to values.
Dart support for maps is provided by map literals and the
<a href="http://api.dartlang.org/dart_core/Map.html">Map</a> interface.
</p>

<p>
Here's a simple Dart map:
</p>

{% highlight dart %}
var gifts = {                         // A map literal
// Keys       Values
  "first"  : "partridge",
  "second" : "turtledoves",
  "fifth"  : "golden rings"};
{% endhighlight %}

<p>
In map literals, each <b>key</b> must be a string.
If you use a Map constructor,
then you have more options:
the key can be a string, a number, or any other object
that implements the
<a href="http://api.dartlang.org/dart_core/Hashable.html">Hashable</a>
interface.
</p>

{% highlight dart %}
var map = new Map();                  // Use a Map constructor.
map[1] = "partridge";                 // Key is 1; value is "partridge".
map[2] = "turtledoves";               // Key is 2; value is "turtledoves".
map[5] = "golden rings";              // Key is 5; value is "golden rings".
{% endhighlight %}

<p>
A map <b>value</b> can be any object or null.
</p>

<p>
You add a new key-value pair to an existing map
just as you would in JavaScript:
</p>

{% highlight dart %}
var gifts = { "first": "partridge" };
gifts["fourth"] = "calling birds";    // Add a key-value pair.
{% endhighlight %}

<p>
You retrieve a value from a map the same way you would in JavaScript:
</p>

{% highlight dart %}
var gifts = { "first": "partridge" };
assert(gifts['first'] == 'partridge');
{% endhighlight %}

<p>
If you look for a key that isn't in a map,
you get a null in return.
However, because values can be null,
you might need to use a method such as
<a href="http://api.dartlang.org/dart_core/Map.html#containsKey">containsKey()</a> or
<a href="http://api.dartlang.org/dart_core/Map.html#putIfAbsent">putIfAbsent()</a>
to make sure you interpret null correctly.
</p>

{% highlight dart %}
var gifts = { "first": "partridge" };
assert(gifts['fifth'] == null);
{% endhighlight %}

<p>
Use <b>.length</b> to get the number of key-value pairs in the map:
</p>

{% highlight dart %}
var gifts = { "first": "partridge" };
gifts["fourth"] = "calling birds";
assert(gifts.length == 2);
{% endhighlight %}

<p>
To remove a key-value pair from a map,
use the <b>remove()</b> method:
</p>

{% highlight dart %}
var gifts = { "first": "partridge" };
gifts["fourth"] = "calling birds";
gifts.remove('first');
assert(gifts.length == 1);
assert(gifts['first'] == null);
{% endhighlight %}

<p>
You can copy a map using the <b>Map.from()</b> constructor:
</p>

{% highlight dart %}
var gifts = { "first": "partridge" };
var regifts = new Map.from(gifts);
assert(regifts['first'] == 'partridge');
{% endhighlight %}


<section id="maps-iterating">
<h4> Iterating </h4>

<p>
You have a few choices for iterating through the contents of a map.
Using the <b>forEach()</b> method gives you access to both
the key and the value.
</p>

{% highlight dart %}
var gifts = {
  "first" : "partridge",
  "second": "turtledoves",
  "fifth" : "golden rings"};
gifts.forEach((k,v) => print('$k : $v'));
{% endhighlight %}

<aside>
  <div class="alert alert-info">
    <strong>Tip:</strong>
    Don't depend on forEach() returning
    the key-value pairs in a particular order.
  </div>
</aside>

<p>
If you are interested in just the keys or just the values,
use <b>getKeys()</b> or <b>getValues()</b>, respectively.
Both methods return a
<a href="http://api.dartlang.org/dart_core/Collection.html">Collection</a> object.
</p>

{% highlight dart %}
var gifts = {"first": "partridge", "second": "turtledoves"};
var values = gifts.getValues();

//Print partridge and turtledoves, but not necessarily in that order.
values.forEach((v) => print(v));
{% endhighlight %}

<aside>
  <div class="alert alert-info">
    <strong>Tip:</strong>
    Map itself does not extend the Collection interface.
  </div>
</aside>

</section>

<p>
Learn more about
<a href="/docs/library-tour/#maps-aka-dictionaries-or-hashes">map methods</a>
in the library tour.
</p>
