<p>
Dart numbers come in two flavors:
</p>

<dl>
  <dt> <a href="http://api.dartlang.org/dart_core/int.html">int</a> </dt>
  <dd> Integers of arbitrary size </dd>
  <dt> <a href="http://api.dartlang.org/dart_core/double.html">double</a> </dt>
  <dd> Decimal 64-bit doubles, as specified by the IEEE 754 standard </dd>
</dl>

<p>
Both <b>int</b> and <b>double</b> are subinterfaces of
<a href="http://api.dartlang.org/dart_core/num.html"><b>num</b></a>.
The num interface defines
<a href="#op-arithmetic">basic operators</a> such as +, -, /, and *,
as well as
<a href="#op-bit">bitwise operators</a> such as &gt;&gt;.
The num interface is also
where you'll find abs(), ceil(), and floor(), among other methods.
If num and its subinterfaces don't have what you're looking for, the
<a href="http://api.dartlang.org/dart_core/Math.html">Math</a> class might.
</p>

<p>
Integers are numbers without a decimal point.
Here are some examples of defining integer literals:
</p>

{% highlight dart %}
var x = 1;
var hex = 0xDEADBEEF;
var bigInt = 3465346583465243765923847659234765928347659567398475647495873984572947593470294387093493456870849216348723763945678236420938467345762304958724596873045876234572037862934765294365243652548673456705673465273465246734506873456729457623845623456234650457693475603768922346728346256;
{% endhighlight %}

<aside class="note">
  <b>Note:</b>
  Big integers are currently treated differently between Dart and JavaScript.
</aside>

<p>
If a number includes a decimal,
it is a double.
Here are some examples of defining double literals:
</p>

{% highlight dart %}
var y = 1.1;
var exponents = 1.42e5;
{% endhighlight %}

<p>
Here's how you turn a string into a number, or vice versa:
</p>

{% highlight dart %}
// String -> int
var one = Math.parseInt("1");
assert(one == 1);

// String -> double
var onePointOne = Math.parseDouble("1.1");
assert(onePointOne == 1.1);

// int -> String
var oneAsString = 1.toString();
assert(oneAsString == "1");

// double -> String
var piAsString = 3.14159.toStringAsFixed(2);
assert(piAsString == "3.14");
{% endhighlight %}

<p>
The num interface specifies the traditional bit shift, AND, and OR operators.
For example:
</p>

{% highlight dart %}
assert((3 < 1) == 6);  // 0011 << 1 == 0110
assert((3 >> 1) == 1);  // 0011 >> 1 == 0001
assert((3 | 4)  == 7);  // 0011 | 0100 == 0111
{% endhighlight %}
</section>
