---
layout: default
title: "Downloads"
---

{% include platform-specific-text/_noscript.html %}

<h1> {{ page.title }} </h1>

<section id="overview">

<p>
You don't need to download anything to write, run, and modify
small Dart scripts.
Just use
<a href="http://try.dartlang.org" target="_blank">Dartboard</a>
in a modern browser.
</p>

<p>
When you're ready to do some real Dart programming,
download <b>Dart Editor</b>.
<br>
    (<label>
      <input type="radio" name="osChoices" id="win">
      Windows</input></label>, 
    <label>
      <input type="radio" name="osChoices" id="linux" checked="true">
      Linux</input></label>, or
    <label>
      <input type="radio" name="osChoices" id="mac">
      Mac</input></label>)
</p>

<p>
The Dart Editor download includes
the Dart <b>SDK</b> and a build of Chromium, nicknamed <b>Dartium</b>,
that includes the Dart virtual machine (VM).
Optionally, you can download the SDK and Dartium separately.
Finally, you can also download the source code for the <b>Dart project</b>.
</p>

</section>


<section id="editor">
<h2> Dart Editor </h2>

<p>
With Dart Editor,
you can write, build, and run
web and server apps.
The Dart Editor download includes the SDK and Dartium.
Instructions for downloading, installing, and using Dart Editor are in
<a href="/docs/getting-started/editor/">Getting Started with Dart Editor</a>.
</p>

{% include downloads/_dart-editor.html %}

</section>


<section id="sdk">
<h2> SDK </h2>

<p>
The SDK contains a Dart-to-JavaScript compiler (aka <em>frog</em>),
the Dart VM, and Dart libraries.
You can find instructions for downloading and using the SDK in
<a href="/docs/getting-started/sdk/">Getting Started with the SDK</a>.

{% include downloads/_sdk.html %}

</section>


<section id="dartium">
<h2> Dartium </h2>

<p>
With this browser,
you can run and debug Dart scripts
without first compiling them to JavaScript.
For instructions on downloading, installing, and launching Dartium, see
<a href="/dartium/">Chromium with the Dart VM</a>.
</p>

{% include downloads/_dartium.html %}

</section>


<section id="project">
<h2> Dart project </h2>

<p>
You can browse or download the source code for the
<a href="http://dart.googlecode.com">Dart open-source project</a>.
</p>

<ul>
  <li> <a href="http://code.google.com/p/dart/source/browse/">Source code</a>
    (for browsing and searching) </li>
  <li> <a href="http://code.google.com/p/dart/wiki/GettingTheSource?tm=4">
    Instructions for downloading
    the source code</a></li>
</ul>

</section>


<script async src="/js/Switcher.dart.js"></script>
<script async src="/js/editor-downloads-analytics.js"></script>
