/*
body {
	background-image: url('images/piratemappath.jpg');
	background-repeat: repeat-y;
	background-position: right 400px;
	background-size: 300px 300px;
}
*/

.piratemap {
	background-image: url('images/piratemap.jpg');
	background-repeat: no-repeat;
	background-position: 400px;
	background-size: 300px 300px;
}

.trydart-step-details {
  margin-left: 20px;
}

.trydart-note {
	background-color: LemonChiffon;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid GoldenRod;
}

.trydart-filename {
	text-align: right;
	color: Silver;
	margin-top: -45px;
	margin-bottom: 10px;
	margin-right: 5px;
}

.key-header {
	padding-left: 20px;
}

.indent {
	text-indent: 20px;
}

.codelab-title {
        font-size: 150%;
}
